Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: Update dependencies to install a working version of the maison package
  .pre-commit-config.yaml
  pyproject.toml
  scripts/requirements.txt
Due: toml-sort

docs: Update custom griffe extension to use the new import paths
  docs/griffe_custom_decorator_labels.py
Due: pylint, pyright, pyright-verifytypes

style(.pre-commit-config.yaml): added version dependency to fix yamlfix maison issue
  .pre-commit-config.yaml
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
Due: pylint, pyright, pyright-verifytypes

feat: Add curve query support for MSO2KB series scopes (#269)
  CHANGELOG.md
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/sim_devices/devices.yaml
  tests/sim_devices/scope/mso2kb.yaml
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

ci: Fix templates for releasing
  python_semantic_release_templates/.release_notes.md.j2
  python_semantic_release_templates/CHANGELOG.md.j2
  scripts/check_unreleased_changelog_items.py
Due: pylint, pyright, pyright-verifytypes

fix: moved waitcomplete() into same call as print to avoid any extra delay in opc() for TSPIEEE4882Commands
  src/tm_devices/drivers/pi/ieee488_2_commands.py
Due: pylint, pyright, pyright-verifytypes

refactor: updated load_script function in tsp_device.py to require a script_name, and added the script_body input to allow usage without a local tsp file.
  examples/source_measure_units/2400/smu_2400_load_script_and_run.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu60xx/smu6xxx.py
  src/tm_devices/drivers/pi/tsp_device.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes

fix: fix unit tests for tsp opc and load_script
  src/tm_devices/drivers/pi/tsp_device.py
  tests/sim_devices/daq/daq6510.yaml
  tests/sim_devices/dmm/dmm6500.yaml
  tests/sim_devices/dmm/dmm7510.yaml
  tests/sim_devices/dmm/dmm7512.yaml
  tests/sim_devices/smu/smu2450.yaml
  tests/sim_devices/smu/smu2460.yaml
  tests/sim_devices/smu/smu2461.yaml
  tests/sim_devices/smu/smu2470.yaml
  tests/sim_devices/smu/smu2601a.yaml
  tests/sim_devices/smu/smu2601b.yaml
  tests/sim_devices/smu/smu2601b_pulse.yaml
  tests/sim_devices/smu/smu2602a.yaml
  tests/sim_devices/smu/smu2602b.yaml
  tests/sim_devices/smu/smu2604a.yaml
  tests/sim_devices/smu/smu2604b.yaml
  tests/sim_devices/smu/smu2606b.yaml
  tests/sim_devices/smu/smu2611a.yaml
  tests/sim_devices/smu/smu2611b.yaml
  tests/sim_devices/smu/smu2612a.yaml
  tests/sim_devices/smu/smu2612b.yaml
  tests/sim_devices/smu/smu2614a.yaml
  tests/sim_devices/smu/smu2614b.yaml
  tests/sim_devices/smu/smu2634a.yaml
  tests/sim_devices/smu/smu2634b.yaml
  tests/sim_devices/smu/smu2635a.yaml
  tests/sim_devices/smu/smu2635b.yaml
  tests/sim_devices/smu/smu2636a.yaml
  tests/sim_devices/smu/smu2636b.yaml
  tests/sim_devices/smu/smu2651a.yaml
  tests/sim_devices/smu/smu2657a.yaml
  tests/sim_devices/ss/ss3706a.yaml
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes

feat: pretty printing of verbose multiline write commands, mainly for tsp.
  src/tm_devices/drivers/pi/pi_device.py
Due: pylint, pyright, pyright-verifytypes

feat: Added Full API support for TekscopePC.
  src/tm_devices/helpers/enums.py
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes

feat: Added Full API support for TekscopePC.
  docs/basic_usage.md
  tests/conftest.py
  tests/requirements.txt
  tests/samples/golden_stubs/drivers/device.pyi
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

feat: Added Full API support for TekscopePC.
  tests/test_extension_mixin.py
Due: pylint, pyright, pyright-verifytypes

fix: Reverted the required files and resolve the PR comments.
  CHANGELOG.md
  README.md
  docs/glossary.md
  docs/known_words.txt
  docs/macros.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
  tests/requirements.txt
  tests/sim_devices/devices.yaml
  tests/sim_devices/scope/mso2kb.yaml
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

2.3.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Converted all workflows to use reusable workflows from the tektronix/python-package-ci-cd repository.
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  scripts/check_unreleased_changelog_items.py
  scripts/contributor_setup.py
  scripts/create_post_version_for_testpypi.py
  scripts/project_version.py
  scripts/pypi_latest_version.py
  scripts/requirements.txt
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

test: Skip running certain pre-commit hooks that fail in older Python versions
  README.md
  pyproject.toml
  scripts/contributor_setup.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Pin reusable workflows to v1.0.0 of tektronix/python-package-ci-cd
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

Convert to using reusable workflows from the `tektronix/python-package-ci-cd` repo (#284)
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/tek-repo-lint.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
  python_semantic_release_templates/.release_notes.md.j2
  python_semantic_release_templates/CHANGELOG.md.j2
  scripts/check_unreleased_changelog_items.py
  scripts/contributor_setup.py
  scripts/create_post_version_for_testpypi.py
  scripts/project_version.py
  scripts/pypi_latest_version.py
  scripts/requirements.txt
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

chore: Remove an unneeded dependency
  pyproject.toml
Due: toml-sort

chore: Remove an unneeded development dependency (#286)
  pyproject.toml
Due: toml-sort

chore: Update python linters and pre-commit dependencies.
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Add a new pre-commit hook to better lint GitHub Workflows
  .pre-commit-config.yaml
Due: none

ci: Skip running a hook in pre-commit.ci since Docker isn't available
  .pre-commit-config.yaml
Due: none

ci: Update pre-commit hook to run properly without needing docker installed
  .pre-commit-config.yaml
Due: none

ci: Update version of python-package-ci-cd workflows.
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

docs: Update changelog
  CHANGELOG.md
Due: none

Update python-pacage-ci-cd to v1.1.0 and use tokens to upload to PyPI (#291)
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

chore: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

test: Fix site path created by doc test
  tests/test_docs.py
Due: pylint, pyright, pyright-verifytypes

feat: Update config with a customizable default VISA timeout
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_config_parser.py
  tests/test_device_manager.py
  tests/test_scopes.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

test: Set the COVERAGE_FILE env var in the tox config to allow testing to run in parallel on the same filesystem
  pyproject.toml
Due: toml-sort

docs: Add "ms" to the list of known words for documentation
  docs/known_words.txt
Due: none

chore: Move comment in the pyproject.toml file to try to avoid a false failure in CI
  pyproject.toml
Due: toml-sort

Revert "chore: Move comment in the pyproject.toml file to try to avoid a false failure in CI"
  pyproject.toml
Due: toml-sort

refactor: Only set options for the options that were given in the config parser
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
