Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

1.2.3
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Updated the get_acquisition_data example to select source for the measurement. (#187)
  CHANGELOG.md
  examples/scopes/tekscope/get_acquisition_data.py
Due: pylint, pyright, pyright-verifytypes

1.3.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

docs: Switch to using markdown for the readme.
  .pre-commit-config.yaml
  README.md
  README.rst
  docs/_static/theme_overrides.css
  docs/index.md
  docs/index.rst
  pyproject.toml
Due: toml-sort

docs: Use html entity code instead of unicode character.
  README.md
Due: none

docs: Update README.md with the rest of the supported devices.
  README.md
  docs/_static/theme_overrides.css
Due: none

docs: Update CSS overrides to move back down to a 2 pixel border in the support table.
  docs/_static/theme_overrides.css
Due: none

docs: Add $ to console section with pip install command.
  README.md
Due: none

docs: switch to shell code block
  README.md
Due: none

docs: Update legend to have all terms to make tables cleaner.
  .pre-commit-config.yaml
  README.md
Due: none

docs: Simply reference the glossary on the main page to make it render nicely for GitHub and PyPI.
  README.md
  docs/glossary.md
Due: none

docs: Add pre and post processing for files with GitHub Flavored Markdown style alerts to convert them into admonitions for MyST while Sphinx runs and then convert them back once Sphinx is done.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Update pre and post processing functionality to not cause autoapi to crash when building docs.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Switched to using a custom directive extension for processing GitHub Flavored Markdown with search and replace capability to eliminate the need to modify file contents on-disk.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Add newline to glossary to make it render better on GitHub.
  docs/glossary.md
Due: none

docs: Add link to glossary in readme.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
Due: pylint, pyright, pyright-verifytypes

docs: Substitute the links for documentation cross-references when building the documentation.
  README.md
  docs/index.md
Due: none

docs: Update custom sphinx extension directive code to handle multi-line GFM admonitions.
  CHANGELOG.md
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Add docs folder to PYTHONPATH when building docs.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Add memory profiling tools to diagnose build issues.
  .gitignore
  docs/gfm_include_replace.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Move tox directory when building docs to avoid needing to add to the path to attempt to reduce the memory consumption when building the docs.
  docs/conf.py
  docs/gfm_include_replace.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Switch to using markdown for the readme.
  .pre-commit-config.yaml
  README.md
  docs/_static/theme_overrides.css
Due: none

docs: Add pre and post processing for files with GitHub Flavored Markdown style alerts to convert them into admonitions for MyST while Sphinx runs and then convert them back once Sphinx is done.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Update pre and post processing functionality to not cause autoapi to crash when building docs.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Switched to using a custom directive extension for processing GitHub Flavored Markdown with search and replace capability to eliminate the need to modify file contents on-disk.
  docs/conf.py
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Move tox directory when building docs to avoid needing to add to the path to attempt to reduce the memory consumption when building the docs.
  docs/conf.py
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Update extension code to remove unneeded code.
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Remove inheritance diagrams from API docs for now to reduce memory consumption during doc builds.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Make content width wider.
  docs/_static/theme_overrides.css
Due: none

docs: Make a few updates to the sphinx configuration to clean up property display and attempt to fix the doc build memory issues.
  .readthedocs.yml
  docs/_static/insert-br.js
  docs/_static/theme_overrides.css
  docs/_templates/autoapi/macros.rst
  docs/_templates/autoapi/python/class.rst
  docs/_templates/autoapi/python/function.rst
  docs/_templates/autoapi/python/method.rst
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  pyproject.toml
  src/tm_devices/drivers/device_type_classes.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

test: Update doc test config options.
  docs/.linkchecker.ini
  docs/known_words.txt
Due: none

docs: Ignore directories that start with double underscores.
  docs/.linkchecker.ini
  mkdocs.yml
Due: none

docs: Update requirements for documentation so that code highlighting works properly.
  docs/requirements.txt
Due: none

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
