Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

test: Move all distributions build during tox into a subdirectory to avoid polluting the root dir
  .gitignore
  pyproject.toml
Due: none

test: Move all distributions built during tox into a subdirectory (#399)
  .gitignore
  pyproject.toml
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

refactor: Run pre-commit and address linting/formatting failures
  src/tm_devices/commands/helpers/scpi_commands.py
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/device_manager.py
  src/tm_devices/driver_mixins/device_control/rest_api_control.py
  src/tm_devices/drivers/awgs/awg5200.py
  src/tm_devices/drivers/margin_testers/tmt4.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  src/tm_devices/helpers/enums.py
  tests/test_awgs.py
  tests/test_generate_waveform.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

fix: Updated the logging configuration function to properly display the correct timestamp precision when using colored console logging
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

fix: Updated the logging configuration function to properly display the correct timestamp precision when using colored console logging (#401)
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

3.1.7
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Relax psutil version requirement
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Relax psutil version requirement to >=6.0.0 (#402)
  CHANGELOG.md
  pyproject.toml
Due: none

3.1.8
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  tests/requirements.txt
Due: none

refactor: Remove unused imports
  src/tm_devices/driver_mixins/device_control/pi_control.py
  tests/test_tm_devices.py
Due: pylint, pyright, pyright-verifytypes

chore: Update dependencies.
  docs/requirements.txt
  tests/requirements.txt
Due: none

fix: Fixed the method of determining the total number of physical channel connectors on the 70kSX scope series
  CHANGELOG.md
  src/tm_devices/drivers/scopes/tekscope_5k_7k_70k/tekscope_5k_7k_70k.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

fix: Fixed the method of determining the total number of physical channel connectors on the 70kSX scope series (#408)
  CHANGELOG.md
  src/tm_devices/drivers/scopes/tekscope_5k_7k_70k/tekscope_5k_7k_70k.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

3.1.9
  CHANGELOG.md
  pyproject.toml
Due: none

fix: set offset after impedance in afg's set_function_properties to prevent auto-adjust
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

fix: set frequency after function in afg's set_function_properties to prevent auto-adjust
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

docs: updated changelog;
  CHANGELOG.md
Due: none

fix: reverting function/frequency change;
  CHANGELOG.md
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

docs: added fixed sub-section
  CHANGELOG.md
Due: none

docs: added back unreleased sentence
  CHANGELOG.md
Due: none

Set offset after impedance so that it is properly adjusted (#411)
  CHANGELOG.md
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

3.1.10
  CHANGELOG.md
  pyproject.toml
Due: none

fix: Fixed the `limit[Y]` commands on certain models which were being generated incorrectly
  CHANGELOG.md
  src/tm_devices/commands/gen_60xy3r_smu/smu.py
  src/tm_devices/commands/gen_6srh1x_smu/smu.py
  src/tm_devices/commands/gen_6vynmi_smu/smu.py
  src/tm_devices/commands/gen_6xiuc2_smu/smu.py
  src/tm_devices/commands/gen_canxny_daq/dmm.py
  src/tm_devices/commands/gen_d6b496_dmm/dmm.py
  src/tm_devices/commands/gen_d83qe0_dmm/dmm.py
  src/tm_devices/commands/gen_e3pief_ss/dmm.py
  src/tm_devices/commands/ss3706a_commands.py
  tests/auto_gen_cmds_list.json
Due: pylint, pyright, pyright-verifytypes

fix: Fixed the `limit[Y]` commands on certain models which were being generated incorrectly (#415)
  CHANGELOG.md
  src/tm_devices/commands/gen_60xy3r_smu/smu.py
  src/tm_devices/commands/gen_6srh1x_smu/smu.py
  src/tm_devices/commands/gen_6vynmi_smu/smu.py
  src/tm_devices/commands/gen_6xiuc2_smu/smu.py
  src/tm_devices/commands/gen_canxny_daq/dmm.py
  src/tm_devices/commands/gen_d6b496_dmm/dmm.py
  src/tm_devices/commands/gen_d83qe0_dmm/dmm.py
  src/tm_devices/commands/gen_e3pief_ss/dmm.py
  src/tm_devices/commands/ss3706a_commands.py
  tests/auto_gen_cmds_list.json
Due: pylint, pyright, pyright-verifytypes

refactor: Update type hinting to use proper Generics and allow for overridden methods to use subclasses of enums
  src/tm_devices/driver_mixins/abstract_device_functionality/signal_generator_mixin.py
  src/tm_devices/driver_mixins/shared_implementations/_tektronix_pi_afg_awg_mixin.py
  src/tm_devices/drivers/afgs/afg.py
  src/tm_devices/drivers/awgs/awg.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  tests/test_extension_mixin.py
Due: pylint, pyright, pyright-verifytypes

chore(python-deps): Update packaging version specification to >=24.0 since it doesn't have to be so tightly coupled.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: none

docs: Made a markdown admonition a tip for GFM
  CONTRIBUTING.md
  docs/macros.py
Due: pylint, pyright

docs: Add note recommending users view the contribution guide at the online doc site
  CONTRIBUTING.md
Due: none

docs: Update alert to a TIP
  CONTRIBUTING.md
Due: none

docs: Update macros to remove tip for viewing in the online docs since it isn't needed when a user is already at the online docs :)
  CONTRIBUTING.md
  docs/macros.py
Due: pylint, pyright

docs: Add repo_name config option to mkdocs.yml in an attempt to get the GitHub button to show up on the sidebar
  mkdocs.yml
Due: none

docs: remove unneeded doc config option
  mkdocs.yml
Due: none

docs: Add custom versions.html to the doc template
  docs/_templates/readthedocs/versions.html
Due: none

docs: iterate on rst-versions div
  docs/_templates/readthedocs/versions.html
Due: none

docs: iterate on rst-versions div
  docs/_templates/readthedocs/base.html
  docs/_templates/readthedocs/versions.html
Due: none

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
