Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

docs: iterate on rst-versions div
  docs/_templates/readthedocs/base.html
  docs/_templates/readthedocs/main.html
Due: none

docs: iterate on rst-versions div
  docs/_templates/readthedocs/main.html
Due: none

docs: iterate on rst-versions div
  docs/_templates/readthedocs/main.html
  docs/_templates/readthedocs/versions.html
Due: none

docs: iterate on rst-versions div
  docs/_templates/readthedocs/versions.html
Due: none

docs: Remove testing file
  docs/_templates/readthedocs/versions.html
Due: none

Add tip in contribution guide pointing users to online docs for better viewing (#419)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/macros.py
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: pylint, pyright

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

feat: Create initial schema file to use for validating configuration files.
  docs/basic_usage.md
  docs/configuration.md
  docs/contributing/add_new_device_type.md
  mkdocs.yml
  pyproject.toml
  scripts/generate_schema.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/dataclass_mixins.py
  src/tm_devices/tm_devices_config_schema.json
Due: pylint, pyright, pyright-verifytypes

refactor: Update the schema generation to list enums as valid options for the serial config options.
  scripts/generate_schema.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/tm_devices_config_schema.json
Due: pylint, pyright, pyright-verifytypes

test: Added tests to the schema generation script.
  docs/configuration.md
  scripts/generate_schema.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/tm_devices_config_schema.json
  tests/samples/simulated_config_no_cleanup.yaml
Due: pylint, pyright, pyright-verifytypes

ci: Added a pre-commit hook to generate the schema every time a python file is modified
  .pre-commit-config.yaml
  scripts/generate_schema.py
Due: pylint, pyright

test: Added a test file to verify the schema correctly validates config files.
  scripts/generate_schema.py
  src/tm_devices/tm_devices_config_schema.json
  tests/samples/invalid_sample_devices.yaml
  tests/samples/simulated_config_no_cleanup.yaml
  tests/test_schema.py
Due: pylint, pyright

fix: Ensure VISA timeout is reset after reboot in pi_control and update related tests
  src/tm_devices/driver_mixins/device_control/pi_control.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

docs: Update changelog with fix information
  CHANGELOG.md
Due: none

fix: Ensure VISA timeout is reset after reboot in pi_control (#425)
  CHANGELOG.md
  src/tm_devices/driver_mixins/device_control/pi_control.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

feat: Add disable_command_verification config file and environment variable option to enable speeding up automation scripts
  CHANGELOG.md
  docs/configuration.md
  examples/miscellaneous/disable_command_verification.py
  src/tm_devices/device_manager.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/test_config_parser.py
  tests/test_extension_mixin.py
Due: pylint, pyright, pyright-verifytypes

chore: fix linting control comment
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

feat: Add the temporary_enable_verification context manager to control command verification within a context block
  examples/miscellaneous/disable_command_verification.py
  src/tm_devices/drivers/device.py
  tests/test_extension_mixin.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

chore: formatting
  examples/miscellaneous/disable_command_verification.py
Due: pylint, pyright

refactor: Update docstrings to improve clarity and consistency
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/device.py
Due: pylint, pyright, pyright-verifytypes

feat: Add disable_command_verification config file and environment variable option to enable speeding up automation scripts (#428)
  CHANGELOG.md
  docs/configuration.md
  examples/miscellaneous/disable_command_verification.py
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/device.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/test_config_parser.py
  tests/test_extension_mixin.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

3.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

docs: Update CHANGELOG to reflect removal of Python 3.8 support
  CHANGELOG.md
Due: none

chore: format files
  tests/test_scopes.py
Due: pylint, pyright

docs: Update docformatter version in pre-commit config and improve docstring formatting
  .pre-commit-config.yaml
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

chore: Update dependencies.
  .pre-commit-config.yaml
  tests/requirements.txt
Due: none

fix: Correct markdown formatting for data_bits options in configuration.md
  docs/configuration.md
Due: none

chore: Update package versions in requirements.txt files for compatibility
  docs/requirements.txt
  tests/requirements.txt
Due: none

docs: Ignore pull request template when formatting markdown
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
Due: none

ci: Show git diff to determine why pre-commit is only failing on ubuntu runners
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  docs/configuration.md
  pyproject.toml
Due: none

docs: Formatted markdown files with proper mdformat plugin configuration
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/advanced/architecture.md
  docs/advanced/signal_generators.md
  docs/basic_usage.md
  docs/contributing/add_new_driver.md
  pyproject.toml
Due: none

chore: Update dependencies in pyproject.toml to include dc-schema and jsonschema
  pyproject.toml
Due: none

fix: Update docs to avoid mdformat failures (#434)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/advanced/architecture.md
  docs/advanced/signal_generators.md
  docs/basic_usage.md
  docs/contributing/add_new_driver.md
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore: Cleaned up all failing linting checks
  src/tm_devices/__init__.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/logging.py
  src/tm_devices/helpers/standalone_helpers.py
Due: pylint, pyright, pyright-verifytypes

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
