Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

fix: Added function generation to all signal generators
  .github/workflows/sbom-scan.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/advanced/signal_generators.md
  docs/known_words.txt
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  src/tm_devices/drivers/device.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu60xx/smu6xxx.py
  src/tm_devices/drivers/pi/tsp_device.py
  tests/requirements.txt
Due: pylint, pyright, pyright-verifytypes

fix: Added function generation to all signal generators
  CHANGELOG.md
  docs/advanced/signal_generators.md
  docs/known_words.txt
  mkdocs.yml
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

refactor: Addressed issues that arose from merges and rebasing
  CHANGELOG.md
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

refactor: Updating linting control comments
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu60xx/smu6xxx.py
  src/tm_devices/drivers/pi/tsp_device.py
Due: pylint, pyright, pyright-verifytypes

feat: git merge
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/drivers/pi/scopes/tekscope/tekscope.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  src/tm_devices/drivers/pi/signal_generators/signal_generator.py
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

fix: some bugs during merging remote
  CHANGELOG.md
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

fix: fixed CHANGELOG.md, some small changes
  CHANGELOG.md
  src/tm_devices/drivers/pi/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes

docs: Updated the signal generation docs to fix some bugs that were found
  docs/advanced/signal_generators.md
Due: none

docs: Updated the signal generation docs to fix some bugs that were found (#252)
  docs/advanced/signal_generators.md
Due: none

2.0.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

ci: Downgrade python-semantic-release due to open bug
  .github/workflows/package-release.yml
Due: none

Revert "2.0.0"
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Downgrade python-semantic-release to allow release workflow to run (#253)
  .github/workflows/package-release.yml
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

docs: Update Jinja templates to use the `is_public` attribute provided by `griffe` instead of the deprecated `is_public()` method
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
Due: none

ci: Update poetry settings
  pyproject.toml
Due: toml-sort

ci: Convert toml-sort to an actual pre-commit hook, not a local hook
  .pre-commit-config.yaml
Due: none

Update jinja templates (#254)
  .pre-commit-config.yaml
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
  pyproject.toml
Due: toml-sort

fix: Modified write and query APi's and updated changelog file.
  src/tm_devices/commands/gen_2i1z2s_awg/diagnostic.py
Due: pylint, pyright, pyright-verifytypes

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

fix: updated changelog, glossary.md and macros.py files.
  CHANGELOG.md
  docs/glossary.md
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

refactor: Add type checker ignore comments for lambda in test file
  .pre-commit-config.yaml
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

fix: rebased with main branch and fixed comments
  CHANGELOG.md
  docs/glossary.md
Due: none

fix: Added whitespace.
  docs/glossary.md
Due: none

fix: Modified write and query APi's and updated changelog file.
  CHANGELOG.md
Due: none

fix: updated changelog, glossary.md and macros.py files.
  CHANGELOG.md
Due: none

fix: rebased with main branch and fixed comments
  CHANGELOG.md
Due: none

fix: Added whitespace.
  CHANGELOG.md
Due: none

feat: Added SourceXpress APIs support and AWG defects fix.
  examples/signal_generators/awgs/awg70k_example.py
  src/tm_devices/commands/gen_2i1z2s_awg/diagnostic.py
  src/tm_devices/commands/gen_3n9auv_awg/connectivity.py
  src/tm_devices/commands/gen_3rs8qy_awg/diagnostic.py
  src/tm_devices/commands/gen_fx54ua_lpdmsodpomdodsa/header.py
  src/tm_devices/commands/gen_fx54ua_lpdmsodpomdodsa/verbose.py
Due: pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
