Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

check-tm-devices-schema-file:
  name: check-tm-devices-schema-file
  entry: python
  language: system
  pass_filenames: false
  args:
  - scripts/generate_schema.py

fix: validate TSP load script write termination
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat: support base logger configuration
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: move logging changelog entry to added
  CHANGELOG.md
Due: none

fix: avoid unused logging global
  src/tm_devices/helpers/logging.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: reduce logging configure locals
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): add additional vulnerability to ignore list in .grype.yml
  .grype.yml
Due: none

fix: add model-specific AFG31K USB IDs
  CHANGELOG.md
  README.md
  src/tm_devices/drivers/__init__.py
  src/tm_devices/drivers/_device_driver_mapping.py
  src/tm_devices/drivers/afgs/afg31k.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  src/tm_devices/helpers/functions.py
  tests/sim_devices/afg/afg31k.yaml
  tests/sim_devices/devices.yaml
  tests/test_afgs.py
  tests/test_all_device_drivers.py
  tests/test_config_parser.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: unmark generic AFG as family base
  src/tm_devices/drivers/afgs/afg.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: update AFG environment example type
  examples/miscellaneous/adding_devices_with_env_var.py
Due: pylint, pyright, check-tm-devices-schema-file

fix: make AFG31K a family base driver
  README.md
  src/tm_devices/drivers/__init__.py
  src/tm_devices/drivers/_device_driver_mapping.py
  src/tm_devices/drivers/afgs/afg31k.py
  src/tm_devices/helpers/enums.py
  src/tm_devices/helpers/functions.py
  tests/sim_devices/afg/afg31k.yaml
  tests/sim_devices/devices.yaml
  tests/test_afgs.py
  tests/test_all_device_drivers.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: mark AFG family base classes
  src/tm_devices/drivers/afgs/afg31k.py
  src/tm_devices/drivers/afgs/afg3k.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: format supported devices table
  README.md
Due: none

fix: correct AFG31052 USBTMC model ID
  CHANGELOG.md
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/test_config_parser.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: complete AFG31K USBTMC mappings
  CHANGELOG.md
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/test_config_parser.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: move AFG31K changelog entry to added
  CHANGELOG.md
Due: none

fix: add model-specific AFG31K USB IDs (#598)
  CHANGELOG.md
  examples/miscellaneous/adding_devices_with_env_var.py
  src/tm_devices/drivers/__init__.py
  src/tm_devices/drivers/_device_driver_mapping.py
  src/tm_devices/drivers/afgs/afg.py
  src/tm_devices/drivers/afgs/afg31k.py
  src/tm_devices/drivers/afgs/afg3k.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  src/tm_devices/helpers/functions.py
  tests/sim_devices/afg/afg31k.yaml
  tests/sim_devices/devices.yaml
  tests/test_all_device_drivers.py
  tests/test_config_parser.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat: support base logger configuration (#596)
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: enforce TSP script line length limit
  CHANGELOG.md
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat: add log_response_max_length option to truncate logged responses
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/logging.py
  src/tm_devices/tm_devices_config_schema.json
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

test: add tests for log_response_max_length option and argument
  tests/test_config_parser.py
  tests/test_logging.py
  tests/test_pi_device.py
Due: pylint, pyright, check-tm-devices-schema-file

docs: document log_response_max_length configuration option
  CHANGELOG.md
  docs/configuration.md
Due: none

fix(tsp): check write_termination before loading large scripts
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix(tsp): split load_script writes to respect max write length
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: handle long TSP scripts exceeding max write length (#500)
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): update dependencies and exclude specific paths in dependabot configuration
  .github/dependabot.yml
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore(deps): update dependencies and exclude specific paths in dependabot configuration
  src/tm_devices/commands/gen_jtknj_daq/buffer.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix(tsp): validate max line length in load_script to prevent write overflow
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat: rename log_response_max_length to log_response_max_characters
  CHANGELOG.md
  docs/configuration.md
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/logging.py
  src/tm_devices/tm_devices_config_schema.json
  tests/test_config_parser.py
  tests/test_logging.py
  tests/test_pi_device.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

refactor: truncate logged responses with a logging filter
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/logging.py
  tests/conftest.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: document the response truncation filter and per-call override
  CHANGELOG.md
  docs/configuration.md
Due: none

fix(psu): correct psu[X].source.slewrate.v command handling and regenerate APIs
  CHANGELOG.md
  src/tm_devices/commands/gen_3skc3w_mp/slot.py
  src/tm_devices/commands/gen_3vhopd_mpsu/psu.py
  src/tm_devices/commands/gen_4g7kah_msmu/trigger.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: chunk TSP load_script writes to respect 1000-char buffer limit
  src/tm_devices/helpers/tsp_script.py
  src/tm_devices/helpers/tsp_script_test.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(tests): update auto_gen_cmds_list.json to reflect regenerated command APIs
  tests/auto_gen_cmds_list.json
Due: none

fix(psu): correct psu[X].source.slewrate.v command handling and regenerate APIs (#612)
  CHANGELOG.md
  src/tm_devices/commands/gen_3skc3w_mp/slot.py
  src/tm_devices/commands/gen_3vhopd_mpsu/psu.py
  src/tm_devices/commands/gen_4g7kah_msmu/trigger.py
  tests/auto_gen_cmds_list.json
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: Ignore certain linting warnings
  docs/macros.py
  pyproject.toml
  src/tm_devices/driver_mixins/abstract_device_functionality/base_afg_source_channel.py
  src/tm_devices/driver_mixins/abstract_device_functionality/signal_generator_mixin.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/driver_mixins/device_control/rest_api_control.py
  src/tm_devices/drivers/afgs/afg.py
  src/tm_devices/drivers/awgs/awg.py
  src/tm_devices/drivers/awgs/awg5200.py
  src/tm_devices/drivers/awgs/awg70ka.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  tests/test_mainframe.py
  tests/test_verification_functions.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

docs: Change the indexing for documentation builds to attempt to fix readthedocs builds
  mkdocs.yml
Due: none

docs: Change the indexing for documentation builds to attempt to fix readthedocs builds (#621)
  mkdocs.yml
Due: none

chore(deps): Remove exclusion of docs and tests in dependabot config to enable higher resolution dependency updates
  .github/dependabot.yml
Due: none

chore(deps): Re-enable exclusion of docs and tests in dependabot config and add workflow for updating Python dependencies
  .github/dependabot.yml
  .github/workflows/update-python-dependencies.yml
Due: none

chore(deps): Ensure docs and tests requirements files are always up to date (#622)
  .github/workflows/update-python-dependencies.yml
Due: none

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$
