Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$

refactor: replace rstrip with subindex in get_buffers
  CHANGELOG.md
  examples/source_measure_units/2400/smu_2460_solar_panel_sweep.py
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: Update dependencies.
  .pre-commit-config.yaml
  tests/requirements.txt
Due: none

chore: update pre-commit configuration and add Grype YAML for vulnerability management
  .grype.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

refactor: remove pylint disable comments for invalid-name in multiple files
  docs/generate_api_pages.py
  examples/source_measure_units/2400/smu_2450_rechargeable_battery.py
  examples/source_measure_units/2400/smu_2450_solar_cell.py
  examples/source_measure_units/2400/smu_2461_1kw_pulsing.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_i_digitize_v.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_trigger_out.py
  examples/source_measure_units/2400/smu_2470_insulation_resistance.py
  examples/source_measure_units/2400/smu_2470_mosfet_leakage.py
Due: pylint, pyright, check-tm-devices-schema-file

feat: add support for Python 3.14 in workflows and dependencies
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

feat: update dependencies for Python 3.14 support and bump ruff version to 0.14.0
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: update requirements for Python 3.14 compatibility
  tests/requirements.txt
Due: none

ci: bump pyright version to 1.1.407 for improved compatibility
  pyproject.toml
Due: poetry-check

test: add pragma directive to exclude specific code from coverage in functions.py
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: revert mdformat dependency to version 0.7.22
  .pre-commit-config.yaml
Due: none

chore: pin mdformat-beautysh and beautysh versions for compatibility with Python 3.9
  .pre-commit-config.yaml
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore: switch pre-commit dependency from mdformat-frontmatter to mdformat-front-matters
  .pre-commit-config.yaml
Due: none

chore: downgrade mdformat dependency to version 0.7.22
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: using Decimal in verify_values to avoid floating point math issues with tolerance calculation. Also tweaked the message when zero tolerance for readability.
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
  src/tm_devices/helpers/verification_functions.py
  tests/sim_devices/smu/smu2601b.yaml
  tests/test_abstract_device_expect_esr.py
  tests/test_smu.py
  tests/test_verification_functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: Update dependencies.
  .pre-commit-config.yaml
  pyproject.toml
  tests/requirements.txt
Due: poetry-check

fix: update CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

chore: downgrade pre-commit dependencies and add mdformat to skip list for pre-commit update workflow
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .pre-commit-config.yaml
Due: none

refactor: initial commit of expect_esr updates
  pyproject.toml
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  tests/test_abstract_device_expect_esr.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

fix: ruff-check was complaining about overwriting loop variables
  pyproject.toml
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

fix: adjusted verify_values comparison message for readability
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/verification_functions.py
  tests/test_abstract_device_expect_esr.py
  tests/test_smu.py
  tests/test_verification_functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: adjusted assert statements
  tests/test_verification_functions.py
Due: pylint, pyright, check-tm-devices-schema-file

Update src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

Enhanced expect_esr (#523)
  CHANGELOG.md
  examples/source_measure_units/2400/smu_2460_solar_panel_sweep.py
  src/tm_devices/driver_mixins/device_control/_abstract_device_visa_write_query_control.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  src/tm_devices/helpers/verification_functions.py
  tests/sim_devices/smu/smu2601b.yaml
  tests/test_abstract_device_expect_esr.py
  tests/test_smu.py
  tests/test_verification_functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file
