Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

Update contribution guide to remove outdated instructions (#205)
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/macros.py
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  scripts/update_development_dependencies.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Revert python-semantic-release version bump since the GitHub Action no longer properly signs commits
  .github/workflows/package-release.yml
Due: none

ci: Revert python-semantic-release version bump since the GitHub Action no longer properly signs commits (#208)
  .github/workflows/package-release.yml
Due: none

1.4.1
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

docs: Add styling for a new method label.
  docs/_static/css/api_labels.css
Due: none

docs: Add styling for a new method label (#209)
  docs/_static/css/api_labels.css
Due: none

docs: Update dependency for building docs.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/update_development_dependencies.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Update mkdocs-ezglossary-plugin version used for building docs (#210)
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/update_development_dependencies.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Add a copy button to the code blocks in the documentation.
  CHANGELOG.md
  docs/_static/css/copybutton.css
  docs/_static/js/clipboard.min.js
  docs/_static/js/copybutton.js
  mkdocs.yml
Due: none

fix: remove duplicate css property
  docs/_static/css/copybutton.css
Due: none

refactor: remove unnecessary todo comments
  docs/_static/js/copybutton.js
Due: none

docs: Add a copy button to the code blocks in the documentation (#211)
  CHANGELOG.md
  docs/_static/css/copybutton.css
  docs/_static/js/clipboard.min.js
  docs/_static/js/copybutton.js
  mkdocs.yml
Due: none

1.4.2
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

docs: Update copy code button to not show up on doc signatures in the API documentation
  CHANGELOG.md
  docs/_static/js/copybutton.js
Due: none

docs: Update copy code button to not show up on doc signatures in the API documentation (#212)
  CHANGELOG.md
  docs/_static/js/copybutton.js
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  src/tm_devices/helpers/functions.py
  tests/requirements.txt
Due: pylint, pyright, pyright-verifytypes

refactor: Ignore a disputed cve affecting every single version of pip since there is no other workaround
  .pre-commit-config.yaml
  pyproject.toml
Due: toml-sort

ci: Update poetry audit command call to ignore the disputed cve for pip
  pyproject.toml
Due: toml-sort

ci: Update build-and-inspect-python-package to version 2.5.0 to enable creating attestations of the built binaries
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
Due: none

ci: Revert changes since pre-commit doesn't recognize options and they aren't needed
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .pre-commit-config.yaml
Due: none

test: Update test to account for new path
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes

docs: Update changelog to indicate what has changed.
  CHANGELOG.md
Due: none

docs: Update API template to use the new jinja template format.
  .pre-commit-config.yaml
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
  docs/requirements.txt
  pyproject.toml
Due: toml-sort

docs: Update changelog
  CHANGELOG.md
Due: none

refactor: fix build issues
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

docs: Added a section that shows the submodules of each subpackage in the summary
  CHANGELOG.md
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
Due: none

Update api template usage (#216)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
  docs/requirements.txt
  pyproject.toml
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Update wording of API package Modules section
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
Due: none

docs: Update wording of API package Modules section (#217)
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Use attestations when building artifacts
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
Due: none

ci: Update a pre-commit hook to enable checking of new GitHub Workflow syntax.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: toml-sort

docs: Update changelog.
  CHANGELOG.md
Due: none

Add attestations to artifacts (#220)
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: toml-sort

ci: Run SBOM against whl file
  .github/workflows/sbom-scan.yml
Due: none

ci: debugging
  .github/workflows/sbom-scan.yml
Due: none

ci: Add attestation to SBOM
  .github/workflows/sbom-scan.yml
Due: none
