Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

fix: changes for unit tests to pass, added path info for sources
  docs/advanced/signal_generators.md
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/helpers/enums.py
  tests/test_awgs.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

ci: Update docformatter version, it no longer causes issues. (#182)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update test-code.yml to install documentation dependencies in both testing jobs.
  .github/workflows/test-code.yml
Due: none

ci: Convert package-testpypi.yml to a reusable workflow.
  .github/workflows/package-testpypi.yml
Due: none

ci: Convert package-release.yml to a reusable workflow.
  .github/workflows/package-release.yml
Due: none

Convert PyPI upload workflows into reusable workflows. (#184)
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/test-code.yml
Due: none

ci: Add workflow for testing method of job-level if statement.
  .github/workflows/package-testpypi.yml
  .github/workflows/workflow-testing.yml
Due: none

ci: debugging
  .github/workflows/workflow-testing.yml
Due: none

ci: debugging
  .github/workflows/package-testpypi.yml
  .github/workflows/workflow-testing.yml
Due: none

ci: Update package-release.yml to use new method of checking repo name.
  .github/workflows/package-release.yml
  .github/workflows/workflow-testing.yml
Due: none

Fix packaging workflows to correctly gate on the repo name. (#185)
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
Due: none

1.2.2
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

ci: Add permissions for the SBOM workflow to be able to add artifacts to releases.
  .github/workflows/sbom-scan.yml
  CHANGELOG.md
Due: none

Update SBOM scanning workflow to be able to upload artifacts to GitHub releases (#186)
  .github/workflows/sbom-scan.yml
  CHANGELOG.md
Due: none

1.2.3
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Update get_acquisition_data.py to select different sources for measurements.
  examples/scopes/tekscope/get_acquisition_data.py
Due: pylint, pyright, pyright-verifytypes

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Updated the get_acquisition_data example to select source for the measurement. (#187)
  CHANGELOG.md
  examples/scopes/tekscope/get_acquisition_data.py
Due: pylint, pyright, pyright-verifytypes

1.3.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

docs: Switch to using markdown for the readme.
  .pre-commit-config.yaml
  README.md
  README.rst
  docs/_static/theme_overrides.css
  docs/index.md
  docs/index.rst
  pyproject.toml
Due: toml-sort

docs: Use html entity code instead of unicode character.
  README.md
Due: none

docs: Update README.md with the rest of the supported devices.
  README.md
  docs/_static/theme_overrides.css
Due: none

docs: Update CSS overrides to move back down to a 2 pixel border in the support table.
  docs/_static/theme_overrides.css
Due: none

docs: Add $ to console section with pip install command.
  README.md
Due: none

docs: switch to shell code block
  README.md
Due: none

docs: Update legend to have all terms to make tables cleaner.
  .pre-commit-config.yaml
  README.md
Due: none

docs: Simply reference the glossary on the main page to make it render nicely for GitHub and PyPI.
  README.md
  docs/glossary.md
Due: none

fix: Suggested PR changes, mostly grammar fixes in signal_generators.md
  .github/workflows/create_temp_html.yml
  .github/workflows/upload_artifacts.yml
  CHANGELOG.md
  docs/advanced/signal_generators.md
  docs/basic_usage.md
  docs/glossary.md
  examples/signal_generators/waveform_constraints.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso5b.py
  src/tm_devices/drivers/pi/scopes/tekscope/tekscope.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg31k.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3kc.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  src/tm_devices/drivers/pi/source_measure_units/smu2400/smu2400_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu6000/smu6000.py
  src/tm_devices/drivers/pi/tsp_device.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/enums.py
  tests/test_afgs.py
  tests/test_awgs.py
  tests/test_generate_waveform.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

docs: Add pre and post processing for files with GitHub Flavored Markdown style alerts to convert them into admonitions for MyST while Sphinx runs and then convert them back once Sphinx is done.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

fix: removed some references for build to pass.
  docs/advanced/signal_generators.md
Due: none

docs: Update pre and post processing functionality to not cause autoapi to crash when building docs.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Switched to using a custom directive extension for processing GitHub Flavored Markdown with search and replace capability to eliminate the need to modify file contents on-disk.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Add newline to glossary to make it render better on GitHub.
  docs/glossary.md
Due: none

docs: Add link to glossary in readme.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
Due: pylint, pyright, pyright-verifytypes

docs: Substitute the links for documentation cross-references when building the documentation.
  README.md
  docs/index.md
Due: none

docs: Update custom sphinx extension directive code to handle multi-line GFM admonitions.
  CHANGELOG.md
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Add docs folder to PYTHONPATH when building docs.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Move tox directory when building docs to avoid needing to add to the path to attempt to reduce the memory consumption when building the docs.
  docs/conf.py
  docs/gfm_include_replace.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes
