Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

Apply suggestions from code review
  .pre-commit-config.yaml
  pyproject.toml
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

Enable Virtual GPIB connections to supported instruments (#230)
  CHANGELOG.md
  docs/configuration.md
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/device_manager.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/functions.py
  tests/sim_devices/devices.yaml
  tests/test_alternative_connection_addresses.py
  tests/test_config_parser.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes

docs: Always use alphabetical sorting for modules when building the API documentation
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
Due: none

docs: Test always using alphabetical order
  docs/_templates/mkdocstrings/python/readthedocs/children.html.jinja
  docs/generate_api_pages.py
Due: pylint, pyright, pyright-verifytypes

docs: revert changes
  docs/generate_api_pages.py
Due: pylint, pyright, pyright-verifytypes

docs: see what happens to the docs when the config options use the right number of spaces
  docs/generate_api_pages.py
Due: pylint, pyright, pyright-verifytypes

docs: see what happens when the custom theme javascript is removed
  docs/_templates/readthedocs/js/theme.js
Due: none

Revert "docs: see what happens when the custom theme javascript is removed"
  docs/_templates/readthedocs/js/theme.js
Due: none

docs: Sort the files in the API documentation
  CHANGELOG.md
  docs/generate_api_pages.py
Due: pylint, pyright, pyright-verifytypes

docs: Properly sort modules when building the API documentation (#231)
  CHANGELOG.md
  docs/generate_api_pages.py
Due: pylint, pyright, pyright-verifytypes

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Update the updater workflow to skip running a hook that can't be run
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

ci: Update publisher workflows to better handle secondary rate limitations from GitHub
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
Due: none

ci: Update the updater workflow to skip running poetry-audit during the updater process (#235)
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

1.5.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

refactor: Miscellaneous refactors to reduce technical debt in variable declarations and comparison operations
  docs/_static/js/copybutton.js
  docs/_static/js/insert-hr.js
  examples/source_measure_units/2400/smu_2450_linear_sweep_current.py
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  scripts/contributor_setup.py
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/helpers/functions.py
  tests/test_afgs.py
  tests/test_devices_legacy_tsp_ieee_cmds.py
  tests/test_smu.py
  tests/test_ss.py
Due: pylint, pyright, pyright-verifytypes

refactor: Miscellaneous refactors to reduce technical debt in variable declarations and comparison operations (#236)
  docs/_static/js/copybutton.js
  docs/_static/js/insert-hr.js
  examples/source_measure_units/2400/smu_2450_linear_sweep_current.py
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  scripts/contributor_setup.py
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/helpers/functions.py
  tests/test_afgs.py
  tests/test_devices_legacy_tsp_ieee_cmds.py
  tests/test_smu.py
  tests/test_ss.py
Due: pylint, pyright, pyright-verifytypes

ci: Install up-to-date version of node when building docs
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: none

refactor: Update the docstrings of the DeviceManager to better indicate what the adder/getter methods create/fetch
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes

docs: Update requirements to get build to pass
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  scripts/contributor_setup.py
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/api/rest_api/rest_api_device.py
  tests/conftest.py
  tests/requirements.txt
  tests/test_device_manager.py
  tests/test_docs.py
Due: pylint, pyright, pyright-verifytypes

refactor: Update linting comments and test to pass
  examples/source_measure_units/2600/smu_2600_diode_test_fast.py
  pyproject.toml
  tests/test_device_manager.py
  tests/test_docs.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

fix: fixes to docs
  docs/advanced/signal_generators.md
Due: none

ci: Add back file sorter hook to pre-commit
  .pre-commit-config.yaml
Due: none

ci: Update pre-commit hook args to try to reduce false failures in CI
  .pre-commit-config.yaml
Due: none

ci: Update tox settings to not run hooks that fail in certain CI environments, the hooks only need to run locally during actual commits.
  .pre-commit-config.yaml
  pyproject.toml
Due: toml-sort

ci: Update codecov-action to newer version
  .github/workflows/test-code.yml
Due: none

ci: Add back file sorter hook to pre-commit (#243)
  .github/workflows/test-code.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: toml-sort

refactor: Ignored a few false positives that the newest version of pyright is raising
  pyproject.toml
  src/tm_devices/drivers/pi/scopes/tekscope/lpd6.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso4b.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso5b.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso5lp.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso6b.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/dpo2kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/mso2kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_3k_4k/dpo4kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_3k_4k/mdo4kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_3k_4k/mdo4kc.py
  src/tm_devices/drivers/pi/scopes/tekscope_3k_4k/mso4kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/dpo5kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/dpo70kd.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/dpo7kc.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/mso5kb.py
  src/tm_devices/drivers/pi/signal_sources/afgs/afg3kb.py
  src/tm_devices/drivers/pi/signal_sources/afgs/afg3kc.py
  src/tm_devices/drivers/pi/signal_sources/awgs/awg5kc.py
  src/tm_devices/drivers/pi/signal_sources/awgs/awg70kb.py
  src/tm_devices/drivers/pi/signal_sources/awgs/awg7kc.py
  src/tm_devices/drivers/pi/source_measure_units/smu26xx/smu2601b_pulse.py
  src/tm_devices/helpers/dataclass_mixins.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update pre-commit config
  .pre-commit-config.yaml
Due: none

refactor: Updated the `to_dict()` method in the dataclass mixin to have better type hinting
  src/tm_devices/helpers/dataclass_mixins.py
Due: pylint, pyright, pyright-verifytypes

fix: merge and doc fixes
  .github/workflows/test-code.yml
  .pre-commit-config.yaml
  docs/advanced/signal_generators.md
  docs/basic_usage.md
  docs/known_words.txt
  docs/requirements.txt
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  examples/source_measure_units/2600/smu_2600_diode_test_fast.py
  mkdocs.yml
  pyproject.toml
  scripts/contributor_setup.py
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/api/rest_api/rest_api_device.py
  tests/conftest.py
  tests/requirements.txt
  tests/test_docs.py
Due: toml-sort, pylint, pyright, pyright-verifytypes
