Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$

feat: Enable programmatic connection to devices that use a different `lan_device_endpoint` via the `DeviceManager` (#538)
  CHANGELOG.md
  docs/configuration.md
  examples/miscellaneous/adding_devices.py
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/device_manager.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/standalone_helpers.py
  src/tm_devices/tm_devices_config_schema.json
  tests/samples/invalid_sample_devices.yaml
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_config_parser.py
  tests/test_helpers.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(python-deps): update development dependency `wheel` to version 0.46.2
  pyproject.toml
Due: poetry-check

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore(deps): update mkdocstrings and pyvisa dependencies to compatible versions
  docs/requirements.txt
  pyproject.toml
Due: poetry-check

feat: add support for Python 3.14 in workflows and dependencies
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

test: add pragma directive to exclude specific code from coverage in functions.py
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: update docformatter language version to python3.13 with a TODO for future removal
  .pre-commit-config.yaml
Due: none

chore: revert
  .pre-commit-config.yaml
Due: none

chore: remove outdated Python dependencies for version compatibility
  pyproject.toml
Due: poetry-check

chore(python-deps): export new requirements
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore(python-deps): update libusb-package version constraints for Python 3.14 compatibility
  pyproject.toml
Due: poetry-check

chore(pre-commit): comment out docformatter hook pending issue resolution
  .pre-commit-config.yaml
Due: none

Add Python 3.14 support (#508)
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
  src/tm_devices/helpers/functions.py
  tests/requirements.txt
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

chore: Update dependencies.
  docs/requirements.txt
Due: none

chore(pre-commit): pin Python version for docformatter pre-commit hook to 3.13 so that it can run in all tox environments
  .pre-commit-config.yaml
Due: none

chore(deps): update pip version to ^26.0 in development dependencies
  pyproject.toml
Due: poetry-check

chore: Update dependencies.
  .pre-commit-config.yaml
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/logging.py
  tests/requirements.txt
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: Address linting issues by adding noqa comments for specific function checks
  src/tm_devices/drivers/afgs/afg31k.py
  src/tm_devices/drivers/afgs/afg3k.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): update documentation dependencies to latest versions and add pydantic to enable builds to pass
  docs/requirements.txt
  pyproject.toml
  scripts/install_insiders_packages.py
Due: pylint, pyright, poetry-check, check-tm-devices-schema-file

chore: remove post_install job from Read the Docs configuration
  .readthedocs.yml
Due: none

chore(docs): fix cross-reference links in documentation and update mkdocs configuration
  docs/_templates/mkdocstrings/python/readthedocs/class.html.jinja
  docs/basic_usage.md
  mkdocs.yml
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): update documentation dependencies to latest versions and add pydantic to enable builds to pass (#545)
  .readthedocs.yml
  docs/_templates/mkdocstrings/python/readthedocs/class.html.jinja
  docs/basic_usage.md
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  scripts/install_insiders_packages.py
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
Due: none

chore: add type field to issue templates for better categorization
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: Update python-package-ci-cd dependency to 1.9.0
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  pyproject.toml
Due: poetry-check

chore: remove specific setuptools version from configuration files
  .github/workflows/sbom-scan.yml
  pyproject.toml
Due: poetry-check

chore: remove symspellpy dependency from requirements and configuration files
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
Due: poetry-check

chore: add type field to issue templates for better categorization (#549)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-community-standards.yml
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-api-comparison.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
Due: poetry-check

docs: enable SymSpell for documentation spell checking
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
Due: poetry-check

docs: enable SymSpell for documentation spell checking (#550)
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
Due: poetry-check

chore: add type stubs ignore comment for pyright in griffe_custom_decorator_labels.py
  docs/griffe_custom_decorator_labels.py
Due: pylint, pyright, check-tm-devices-schema-file

Fix: write TSP script lines individually to respect 1000-char write limit
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/sim_devices/smu/smu2601b.yaml
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: Properly set each device's `enable_verification` property when connecting to it
  CHANGELOG.md
  src/tm_devices/device_manager.py
  tests/conftest.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: Properly set each device's `enable_verification` property when connecting to it (#557)
  CHANGELOG.md
  src/tm_devices/device_manager.py
  tests/conftest.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: Update dependencies.
  docs/requirements.txt
  tests/requirements.txt
Due: none
