Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
Due: none

docs: Add memory profiling tools to diagnose build issues.
  .gitignore
  docs/gfm_include_replace.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Switch to using markdown for the readme.
  .pre-commit-config.yaml
  README.md
  README.rst
  docs/_static/theme_overrides.css
  docs/index.md
  docs/index.rst
  pyproject.toml
Due: toml-sort

docs: Add link to glossary in readme.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
Due: pylint, pyright, pyright-verifytypes

docs: Substitute the links for documentation cross-references when building the documentation.
  README.md
  docs/index.md
Due: none

docs: Use html entity code instead of unicode character.
  README.md
Due: none

docs: Simply reference the glossary on the main page to make it render nicely for GitHub and PyPI.
  README.md
  docs/glossary.md
Due: none

docs: Add $ to console section with pip install command.
  README.md
Due: none

docs: switch to shell code block
  README.md
Due: none

docs: Add pre and post processing for files with GitHub Flavored Markdown style alerts to convert them into admonitions for MyST while Sphinx runs and then convert them back once Sphinx is done.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Switched to using a custom directive extension for processing GitHub Flavored Markdown with search and replace capability to eliminate the need to modify file contents on-disk.
  README.md
  docs/conf.py
  docs/gfm_include_replace.py
  docs/index.md
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Update legend to have all terms to make tables cleaner.
  .pre-commit-config.yaml
  README.md
Due: none

docs: Update README.md with the rest of the supported devices.
  README.md
  docs/_static/theme_overrides.css
Due: none

docs: Add docs folder to PYTHONPATH when building docs.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Update pre and post processing functionality to not cause autoapi to crash when building docs.
  README.md
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Move tox directory when building docs to avoid needing to add to the path to attempt to reduce the memory consumption when building the docs.
  docs/conf.py
  docs/gfm_include_replace.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Update CSS overrides to move back down to a 2 pixel border in the support table.
  docs/_static/theme_overrides.css
Due: none

docs: Update custom sphinx extension directive code to handle multi-line GFM admonitions.
  CHANGELOG.md
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Add newline to glossary to make it render better on GitHub.
  docs/glossary.md
Due: none

docs: Update extension code to remove unneeded code.
  docs/gfm_include_replace.py
Due: pylint, pyright, pyright-verifytypes

docs: Remove inheritance diagrams from API docs for now to reduce memory consumption during doc builds.
  docs/conf.py
Due: pylint, pyright, pyright-verifytypes

docs: Make content width wider.
  docs/_static/theme_overrides.css
Due: none

docs: Make a few updates to the sphinx configuration to clean up property display and attempt to fix the doc build memory issues.
  .readthedocs.yml
  docs/_static/insert-br.js
  docs/_static/theme_overrides.css
  docs/_templates/autoapi/macros.rst
  docs/_templates/autoapi/python/class.rst
  docs/_templates/autoapi/python/function.rst
  docs/_templates/autoapi/python/method.rst
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  pyproject.toml
  src/tm_devices/drivers/device_type_classes.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

Update update-python-and-pre-commit-dependencies.yml to continue even if pre-commit fails.
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

ci: Update pre-commit dependencies.
  .pre-commit-config.yaml
  examples/system_switch/3700/dmm_3706a_basic_scan.py
Due: pylint, pyright, pyright-verifytypes

fix: Changes to PR based on github comments.
  CHANGELOG.md
  docs/advanced/signal_generators.md
  docs/basic_usage.md
  examples/signal_generators/generate_function.py
  examples/signal_generators/waveform_constraints.py
  src/tm_devices/drivers/pi/pi_device.py
  src/tm_devices/drivers/pi/scopes/tekscope/mso5b.py
  src/tm_devices/drivers/pi/scopes/tekscope/tekscope.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg31k.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  tests/sim_devices/scope/mso5.yaml
  tests/sim_devices/scope/mso5b.yaml
  tests/test_generate_waveform.py
  tests/test_pi_device.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes

fix: fixes to get docs to build, some structure changes within drivers
  CHANGELOG.md
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5200.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg5k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg70ka.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
Due: pylint, pyright, pyright-verifytypes

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes

fix: Updated the measurement source selection command for the MDO3K, MDO4K, MSO4K and DPO4K models to work properly. (#173)
  CHANGELOG.md
  src/tm_devices/commands/_1l5u97_mdomsodpo/__init__.py
  src/tm_devices/commands/_1mlt9u_mdomsodpo/measurement.py
  src/tm_devices/commands/_dpo4k_commands.py
  src/tm_devices/commands/_dpo4kb_commands.py
  src/tm_devices/commands/_mdo3k_commands.py
  src/tm_devices/commands/_mdo4k_commands.py
  src/tm_devices/commands/_mdo4kb_commands.py
  src/tm_devices/commands/_mdo4kc_commands.py
  src/tm_devices/commands/_mso4k_commands.py
  src/tm_devices/commands/_mso4kb_commands.py
Due: pylint, pyright, pyright-verifytypes

Update supported devices and VISA backends in the readme (#170)
  CHANGELOG.md
  README.rst
Due: none

Update admonition in readme to fix a glitch/bug in GitHub web UI (#174)
  README.rst
Due: none

Update file checker workflow (#179)
  .github/workflows/tek-repo-lint.yml
Due: none

Convert workflows into reusable workflows (#178)
  .github/workflows/assign-reviewers.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/package-build.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/tek-repo-lint.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  docs/Makefile
  docs/make.bat
  pyproject.toml
  scripts/requirements.txt
Due: toml-sort

Add test results to job summary and pull request comments (#181)
  .github/workflows/publish-test-results.yml
  .github/workflows/test-code.yml
  pyproject.toml
  tests/requirements.txt
  tests/test_auto_generated_commands.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update docformatter version, it no longer causes issues. (#182)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

Convert PyPI upload workflows into reusable workflows. (#184)
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/test-code.yml
Due: none

Fix packaging workflows to correctly gate on the repo name. (#185)
  .github/workflows/package-release.yml
  .github/workflows/package-testpypi.yml
Due: none

1.2.2
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Update SBOM scanning workflow to be able to upload artifacts to GitHub releases (#186)
  .github/workflows/sbom-scan.yml
  CHANGELOG.md
Due: none

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
