Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
Due: none

refactor: Update the type aliases used by the `DeviceManager` add/get methods to return `TypeVar`s with default values that are bound to the appropriate device type.
  docs/contributing/add_new_driver.md
  examples/miscellaneous/custom_device_driver_support.py
  examples/miscellaneous/disable_command_verification.py
  examples/scopes/tekscope/basic_save_recall.py
  examples/scopes/tekscope/generate_internal_afg_signal.py
  examples/scopes/tekscope/get_acquisition_data.py
  examples/scopes/tekscope_70k/dpojet/adding_dpojet_measurements.py
  examples/source_measure_units/2400/smu_2400_load_script_and_run.py
  examples/source_measure_units/2400/smu_2450_leakage_current.py
  examples/source_measure_units/2400/smu_2450_linear_sweep_current.py
  examples/source_measure_units/2400/smu_2450_measuring_lowr_devices.py
  examples/source_measure_units/2400/smu_2450_rechargeable_battery.py
  examples/source_measure_units/2400/smu_2450_solar_cell.py
  examples/source_measure_units/2400/smu_2460_pulse_train.py
  examples/source_measure_units/2400/smu_2460_solar_panel_sweep.py
  examples/source_measure_units/2400/smu_2461_1kw_pulsing.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_i_digitize_v.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_trigger_out.py
  examples/source_measure_units/2400/smu_2470_insulation_resistance.py
  examples/source_measure_units/2400/smu_2470_mosfet_leakage.py
  examples/source_measure_units/2600/reading_dynamic_buffers.py
  examples/source_measure_units/2600/smu_2600_ac_waveform_sweep.py
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  examples/source_measure_units/2600/smu_2600_diode_test_fast.py
  examples/source_measure_units/2600/smu_2651_fast_adc_usage.py
  examples/source_measure_units/2600/smu_2657_dioderl_swp.py
  examples/source_measure_units/2600/smu_2657a_capacitor_leakage.py
  examples/source_measure_units/2600/smu_2657a_mosfet_bvdss.py
  examples/source_measure_units/2600/smu_2657a_mosfet_idss.py
  pyproject.toml
  src/tm_devices/device_manager.py
  tests/test_psu.py
  tests/test_scopes.py
  tests/test_smu.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

refactor: Update the type aliases used by the `DeviceManager` add/get methods to return `TypeVar`s with default values that are bound to the appropriate device type. (#162)
  docs/contributing/add_new_driver.md
  examples/miscellaneous/custom_device_driver_support.py
  examples/miscellaneous/disable_command_verification.py
  examples/scopes/tekscope/basic_save_recall.py
  examples/scopes/tekscope/generate_internal_afg_signal.py
  examples/scopes/tekscope/get_acquisition_data.py
  examples/scopes/tekscope_70k/dpojet/adding_dpojet_measurements.py
  examples/source_measure_units/2400/smu_2400_load_script_and_run.py
  examples/source_measure_units/2400/smu_2450_leakage_current.py
  examples/source_measure_units/2400/smu_2450_linear_sweep_current.py
  examples/source_measure_units/2400/smu_2450_measuring_lowr_devices.py
  examples/source_measure_units/2400/smu_2450_rechargeable_battery.py
  examples/source_measure_units/2400/smu_2450_solar_cell.py
  examples/source_measure_units/2400/smu_2460_pulse_train.py
  examples/source_measure_units/2400/smu_2460_solar_panel_sweep.py
  examples/source_measure_units/2400/smu_2461_1kw_pulsing.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_i_digitize_v.py
  examples/source_measure_units/2400/smu_2461_pulse_sweep_trigger_out.py
  examples/source_measure_units/2400/smu_2470_insulation_resistance.py
  examples/source_measure_units/2400/smu_2470_mosfet_leakage.py
  examples/source_measure_units/2600/reading_dynamic_buffers.py
  examples/source_measure_units/2600/smu_2600_ac_waveform_sweep.py
  examples/source_measure_units/2600/smu_2600_bjt_slow.py
  examples/source_measure_units/2600/smu_2600_diode_test_fast.py
  examples/source_measure_units/2600/smu_2651_fast_adc_usage.py
  examples/source_measure_units/2600/smu_2657_dioderl_swp.py
  examples/source_measure_units/2600/smu_2657a_capacitor_leakage.py
  examples/source_measure_units/2600/smu_2657a_mosfet_bvdss.py
  examples/source_measure_units/2600/smu_2657a_mosfet_idss.py
  pyproject.toml
  src/tm_devices/device_manager.py
  tests/test_psu.py
  tests/test_scopes.py
  tests/test_smu.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update documentation builds to use node.js version 20.
  .github/workflows/test-docs.yml
  .readthedocs.yml
Due: none

ci: Update documentation builds to use node.js version 20. (#163)
  .github/workflows/test-docs.yml
  .readthedocs.yml
Due: none

fix: Measurement source selection API added to DPO4k, MDO3K models.
  src/tm_devices/commands/_1l5u97_mdomsodpo/__init__.py
  src/tm_devices/commands/_1mlt9u_mdomsodpo/measurement.py
  src/tm_devices/commands/_dpo4k_commands.py
  src/tm_devices/commands/_dpo4kb_commands.py
  src/tm_devices/commands/_mdo3k_commands.py
  src/tm_devices/commands/_mdo4k_commands.py
  src/tm_devices/commands/_mdo4kb_commands.py
  src/tm_devices/commands/_mdo4kc_commands.py
  src/tm_devices/commands/_mso4k_commands.py
  src/tm_devices/commands/_mso4kb_commands.py
Due: pylint, pyright, pyright-verifytypes

Update README.rst
  README.rst
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: exception handling for clearing Visa IO buffer on first connection
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes

fix: unit testing device_manager.py warnings on connection
  src/tm_devices/device_manager.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

fix: Deleted Unwanted files under commands.
  src/tm_devices/commands/_1l5u97_mdomsodpo/measurement.py
Due: pylint, pyright, pyright-verifytypes

ci: Update the workflow for updating python and pre-commit dependencies to check the github.actor value instead of the pull request user to prevent running the check more than once per pull request.
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

ci: Update token used to add reviewers.
  .github/workflows/assign-reviewers.yml
Due: none

ci: testing workflow update
  .github/workflows/assign-reviewers.yml
Due: none

Updated CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Modified API description of measurement source selection
  src/tm_devices/commands/_1mlt9u_mdomsodpo/measurement.py
Due: pylint, pyright, pyright-verifytypes

Misc. workflow updates (#171)
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

Handle Visa IO Error on first connection (#172)
  src/tm_devices/device_manager.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

fix: Modified API description of measurement source selection to remove reference source2.
  src/tm_devices/commands/_1mlt9u_mdomsodpo/measurement.py
Due: pylint, pyright, pyright-verifytypes

fix: Updated the changelog
  CHANGELOG.md
Due: none

ci: Update codecov-action to v4.
  .github/workflows/test-code.yml
Due: none

ci: Test changing settings to enable codecov-action v4.
  .github/workflows/test-code.yml
Due: none
