Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

feat(mso2kb.py): added support for mso2024b oscilloscope
  .pre-commit-config.yaml
  docs/griffe_custom_decorator_labels.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/mso2kb.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/sim_devices/devices.yaml
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

2.1.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

test: Ignore http-rate-limited warnings to avoid failure due to the abundance of GitHub URLs in the Changelog
  docs/.linkchecker.ini
Due: none

test: Ignore http-rate-limited warnings to avoid failure due to the abundance of GitHub URLs in the Changelog (#261)
  docs/.linkchecker.ini
Due: none

feat: Added the ability to connect to devices that are part of an unsupported device type category
  CHANGELOG.md
  examples/miscellaneous/custom_device_driver_support.py
  pyproject.toml
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/api/rest_api/margin_testers/tmt4.py
  src/tm_devices/drivers/device.py
  src/tm_devices/drivers/pi/data_acquisition_systems/data_acquisition_system.py
  src/tm_devices/drivers/pi/digital_multimeters/digital_multimeter.py
  src/tm_devices/drivers/pi/power_supplies/psu2200/psu2200.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/tekscope_5k_7k_70k.py
  src/tm_devices/drivers/pi/scopes/tso/tsovu.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_interactive.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu26xx/smu26xx.py
  src/tm_devices/drivers/pi/source_measure_units/smu60xx/smu6xxx.py
  src/tm_devices/drivers/pi/systems_switches/ss3706a.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  tests/test_rest_api_device.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

test: Add test for the `add_unsupported_device()` method
  examples/miscellaneous/custom_device_driver_support.py
  src/tm_devices/device_manager.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  tests/samples/unsupported_device_type_config.yaml
  tests/sim_devices/devices.yaml
  tests/test_device_manager.py
  tests/test_scopes.py
  tests/test_tm_devices.py
  tests/test_unsupported_device_type.py
Due: pylint, pyright, pyright-verifytypes

build: ran update development dependencies script.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: toml-sort

feat: added optional lan_device_name to DeviceConfigEntry. This field is only used when connecting to TCPIP. If connection type is TCPIP, default is to use 'inst0';
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

Enable adding unsupported device types via the DeviceManager (#262)
  CHANGELOG.md
  examples/miscellaneous/custom_device_driver_support.py
  pyproject.toml
  src/tm_devices/device_manager.py
  src/tm_devices/drivers/api/rest_api/margin_testers/tmt4.py
  src/tm_devices/drivers/device.py
  src/tm_devices/drivers/pi/data_acquisition_systems/data_acquisition_system.py
  src/tm_devices/drivers/pi/digital_multimeters/digital_multimeter.py
  src/tm_devices/drivers/pi/power_supplies/psu2200/psu2200.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
  src/tm_devices/drivers/pi/scopes/tekscope_5k_7k_70k/tekscope_5k_7k_70k.py
  src/tm_devices/drivers/pi/scopes/tso/tsovu.py
  src/tm_devices/drivers/pi/signal_generators/afgs/afg3k.py
  src/tm_devices/drivers/pi/signal_generators/awgs/awg.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_interactive.py
  src/tm_devices/drivers/pi/source_measure_units/smu24xx/smu24xx_standard.py
  src/tm_devices/drivers/pi/source_measure_units/smu26xx/smu26xx.py
  src/tm_devices/drivers/pi/source_measure_units/smu60xx/smu6xxx.py
  src/tm_devices/drivers/pi/systems_switches/ss3706a.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  tests/samples/unsupported_device_type_config.yaml
  tests/sim_devices/devices.yaml
  tests/test_device_manager.py
  tests/test_rest_api_device.py
  tests/test_scopes.py
  tests/test_tm_devices.py
  tests/test_unsupported_device_type.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

2.2.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

test: updated unit test for lan_device_name to DeviceConfigEntry.
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_config_parser.py
  tests/test_device_manager.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: updated configuration.md to add documentation for lan_device_name in the config;
  docs/configuration.md
Due: none

docs: updated docstring of lan_device_name to include default.
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: Convert the test-docs.yml file into a reusable workflow
  .github/workflows/test-docs.yml
Due: none

ci: Update comments
  .github/workflows/test-docs.yml
  .readthedocs.yml
Due: none

ci: Fix workflow syntax issue
  .github/workflows/test-docs.yml
Due: none

ci: Simplify tox config to avoid duplicating pre-commit config
  pyproject.toml
Due: toml-sort

ci: Remove safety check since it is duplicating poetry audit
  pyproject.toml
Due: toml-sort

ci: Set up node for standard testing workflow to prevent false failures from pyright failing to install node
  .github/workflows/test-code.yml
Due: none

Convert test-docs.yml to a reusable workflow (#264)
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .readthedocs.yml
  pyproject.toml
Due: toml-sort

ci: Update the script that updates the pre-commit dependencies to update them with frozen hashes
  .pre-commit-config.yaml
  pyproject.toml
  scripts/requirements.txt
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update the script that updates the pre-commit dependencies to update them with frozen hashes (#265)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/requirements.txt
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

docs: Update links on the Readme to point to the full GitHub URL
  README.md
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

docs: Update links on the Readme to point to the full GitHub URL (#266)
  README.md
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

feat: removed lan device name enum to allow users to specify custom/any lan device name (this follows NI-MAX UI)
  CHANGELOG.md
  docs/configuration.md
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
  tests/test_config_parser.py
Due: pylint, pyright, pyright-verifytypes

fix: updated docstring of add_device to include default value of lan_device_name.
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

docs: capitalized connection type in configuration.md documentation.
  docs/configuration.md
Due: none

refactor: set lan_device_name to default in get_visa_resource_expression rather than post init.
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_device_manager.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

refactor: set gpib board number to default in get_visa_resource_expression rather than post init.
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

refactor: simplified gpib validation change.
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

ci: Don't bother checking for the absolute latest node version when just testing code and linting
  .github/workflows/test-code.yml
Due: none

ci: Don't install node as a part of running tox
  pyproject.toml
Due: toml-sort

feat: Custom LAN Device Name for TCPIP Connections (#267)
  .github/workflows/test-code.yml
  CHANGELOG.md
  docs/configuration.md
  pyproject.toml
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_config_parser.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
