Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

docs: Update the readme with instructions on verifying the signatures of the binary files
  CHANGELOG.md
  README.md
Due: none

ci: Restrict the attestations to only be created when running within the main repo.
  .github/workflows/package-build.yml
  .github/workflows/sbom-scan.yml
Due: none

ci: Restrict the attestations to only be created when running within the main repo
  .github/workflows/package-build.yml
  .github/workflows/sbom-scan.yml
Due: none

ci: Update logic to detect forks
  .github/workflows/package-build.yml
  .github/workflows/sbom-scan.yml
Due: none

Sign all published files (#221)
  .github/workflows/package-build.yml
  .github/workflows/sbom-scan.yml
  CHANGELOG.md
  README.md
Due: none

docs: Add analytics code for documentation
  mkdocs.yml
Due: none

docs: Fix typo in macro causing link to go to the wrong glossary entry
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

docs: Add analytics code for documentation (#222)
  docs/macros.py
  mkdocs.yml
Due: pylint, pyright, pyright-verifytypes

docs: Update the trademark symbols
  docs/key_features.md
Due: none

docs: Update the trademark symbols (#223)
  docs/key_features.md
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

refactor: Ignore some pylint false failures.
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes

ci: Add workflow that can publish a comment with breaking API changes to Pull Requests
  .github/workflows/publish-api-comparison.yml
Due: none

ci: Don't run API check publisher if the workflow failed
  .github/workflows/publish-api-comparison.yml
Due: none

ci: Update API breaking change publisher to only publish if breaking changes are found
  .github/workflows/publish-api-comparison.yml
Due: none

ci: debugging
  .github/workflows/publish-api-comparison.yml
Due: none

Check for breaking api changes (#14)
  .github/workflows/check-api-for-breaking-changes.yml
Due: none

Add workflows to check for changes that break public APIs (#227)
  .github/workflows/check-api-for-breaking-changes.yml
  .github/workflows/publish-api-comparison.yml
Due: none

ci: Update audit checks
  .pre-commit-config.yaml
  pyproject.toml
Due: toml-sort

ci: Update build and release workflows to verify the package can be installed for all supported Python versions and Operating Systems
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
Due: none

ci: Mark build-package job as required for the installation testing
  .github/workflows/package-build.yml
Due: none

ci: Mark fail-fast as false when testing installations
  .github/workflows/package-build.yml
Due: none

ci: Move environment variable to a location where it can be used by all jobs
  .github/workflows/package-build.yml
Due: none

ci: Separate install and uninstall steps
  .github/workflows/package-build.yml
Due: none

ci: Update build and release workflows to verify the package can be installed for all supported Python versions and Operating Systems (#229)
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
Due: none

Update dm_config_parser.py for gpib support
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

Update device_manager.py for vgpib support
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes

Update constants_and_dataclasses.py
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes

Update functions.py
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes

test: Update test_config_parser.py
  tests/test_config_parser.py
Due: pylint, pyright, pyright-verifytypes

test: Update test_alternative_connection_addresses.py
  tests/test_alternative_connection_addresses.py
Due: pylint, pyright, pyright-verifytypes

test: Update test_helpers.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes

fix: Update pyproject.toml
  pyproject.toml
Due: toml-sort

fix: Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

docs: Update configuration.md
  docs/configuration.md
Due: none

Update devices.yaml
  tests/sim_devices/devices.yaml
Due: none

fix: Update CHANGELOG.md
  CHANGELOG.md
Due: none
