Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$

ci: Add quotes around package name.
  .github/workflows/package-build.yml
Due: none

ci: Update if block
  .github/workflows/test-code.yml
Due: none

ci: Update if block
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: none

ci: Add workflow to publish test results.
  .github/workflows/publish-test-results.yml
  .github/workflows/test.yml
Due: none

ci: update workflow permissions
  .github/workflows/test.yml
Due: none

ci: Update workflow job condition.
  .github/workflows/publish-test-results.yml
Due: none

Delete .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

ci: Update publish-test-results.yml to correctly publish results.
  .github/workflows/publish-test-results.yml
Due: none

ci: Revert test-code.yml back to normal settings.
  .github/workflows/test-code.yml
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
Due: none

ci: Update reusable workflows.
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-build.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  pyproject.toml
  scripts/requirements.txt
Due: toml-sort

ci: Update job to check for file existence to force compliance with GitHub's Community Standards.
  .github/workflows/tek-repo-lint.yml
Due: none

test: Delete security file to test workflow change.
  SECURITY.md
Due: none

ci: Checkout code before looking for files.
  .github/workflows/tek-repo-lint.yml
Due: none

test: Add back security file.
  SECURITY.md
Due: none

Update file checker workflow (#179)
  .github/workflows/tek-repo-lint.yml
Due: none

fix: updated upper amplitude range for awg7k when output signal path is DCA, fixed awg5k unit tests amplitude range for DIR output path, and updated afg hostname;
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  tests/test_awgs.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

Convert workflows into reusable workflows (#178)
  .github/workflows/assign-reviewers.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/package-build.yml
  .github/workflows/package-testpypi.yml
  .github/workflows/sbom-scan.yml
  .github/workflows/tek-repo-lint.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  docs/Makefile
  docs/make.bat
  pyproject.toml
  scripts/requirements.txt
Due: toml-sort

Revert "fix: updated upper amplitude range for awg7k when output signal path is DCA, fixed awg5k unit tests amplitude range for DIR output path, and updated afg hostname;"
  src/tm_devices/drivers/pi/signal_generators/awgs/awg7k.py
  tests/test_awgs.py
  tests/test_device_manager.py
Due: pylint, pyright, pyright-verifytypes

ci: Add test results publishing workflow.
  .github/workflows/publish-test-results.yml
Due: none

ci: Filter artifacts downloaded to speed up job.
  .github/workflows/publish-test-results.yml
Due: none

ci: workflow debugging
  .github/workflows/publish-test-results.yml
Due: none

Workflow updates (#10)
  .github/workflows/test-code.yml
  pyproject.toml
  tests/requirements.txt
  tests/test_auto_generated_commands.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

Add test results to job summary and pull request comments (#181)
  .github/workflows/publish-test-results.yml
  .github/workflows/test-code.yml
  pyproject.toml
  tests/requirements.txt
  tests/test_auto_generated_commands.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Update docformatter version, it no longer causes issues.
  .pre-commit-config.yaml
  pyproject.toml
  scripts/update_development_dependencies.py
Due: toml-sort, pylint, pyright, pyright-verifytypes
