Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

check-tm-devices-schema-file:
  name: check-tm-devices-schema-file
  entry: python
  language: system
  pass_filenames: false
  args:
  - scripts/generate_schema.py

chore: Update dependencies.
  .pre-commit-config.yaml
  tests/requirements.txt
Due: none

refactor: Replace dateutil.tz with tzlocal for timezone handling.
  examples/source_measure_units/2600/smu_2651_fast_adc_usage.py
  pyproject.toml
  src/tm_devices/driver_mixins/abstract_device_functionality/screen_capture_mixin.py
  src/tm_devices/helpers/functions.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

feat: Added Python API support for the MSMU60-2 module.
  CHANGELOG.md
  README.md
  src/tm_devices/commands/__init__.py
  src/tm_devices/commands/gen_3skc3w_mp/slot.py
  src/tm_devices/commands/gen_3vhopd_mpsu/psu.py
  src/tm_devices/commands/gen_4bzuy0_mpsumsmu/__init__.py
  src/tm_devices/commands/gen_4bzuy0_mpsumsmu/firmware.py
  src/tm_devices/commands/gen_4dh8ja_mpmpsumsmu/__init__.py
  src/tm_devices/commands/gen_4dh8ja_mpmpsumsmu/buffervar.py
  src/tm_devices/commands/gen_4g7kah_msmu/__init__.py
  src/tm_devices/commands/gen_4g7kah_msmu/smu.py
  src/tm_devices/commands/gen_4g7kah_msmu/status.py
  src/tm_devices/commands/gen_4g7kah_msmu/trigger.py
  src/tm_devices/commands/mp5103_commands.py
  src/tm_devices/commands/msmu60_2_commands.py
  src/tm_devices/drivers/mainframes/mp5xxx/mp5xxx.py
  tests/auto_gen_cmds_list.json
  tests/test_mainframe.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: upgrade filelock to ^3.20.1 to remediate security vulnerability
  pyproject.toml
Due: poetry-check

chore: update filelock to ^3.20.1 for Python >=3.10 and keep 3.9 compatible
  pyproject.toml
Due: poetry-check

fix: updated the changelog.md file
  CHANGELOG.md
Due: none

chore: revert filelock changes and ignore GHSA-w853-jp5j-5j7f in Grype.yml
  .grype.yml
  pyproject.toml
Due: poetry-check

Update .grype.yml
  .grype.yml
Due: none

feat: Added Python API support for the MSMU60-2 module. (#525)
  .grype.yml
  CHANGELOG.md
  README.md
  src/tm_devices/commands/__init__.py
  src/tm_devices/commands/gen_3skc3w_mp/slot.py
  src/tm_devices/commands/gen_3vhopd_mpsu/psu.py
  src/tm_devices/commands/gen_4bzuy0_mpsumsmu/__init__.py
  src/tm_devices/commands/gen_4bzuy0_mpsumsmu/firmware.py
  src/tm_devices/commands/gen_4dh8ja_mpmpsumsmu/__init__.py
  src/tm_devices/commands/gen_4dh8ja_mpmpsumsmu/buffervar.py
  src/tm_devices/commands/gen_4g7kah_msmu/__init__.py
  src/tm_devices/commands/gen_4g7kah_msmu/smu.py
  src/tm_devices/commands/gen_4g7kah_msmu/status.py
  src/tm_devices/commands/gen_4g7kah_msmu/trigger.py
  src/tm_devices/commands/mp5103_commands.py
  src/tm_devices/commands/msmu60_2_commands.py
  src/tm_devices/drivers/mainframes/mp5xxx/mp5xxx.py
  tests/auto_gen_cmds_list.json
  tests/test_mainframe.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

3.5.0
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Update dependencies.
  .pre-commit-config.yaml
Due: none

chore(python-deps): update poetry and related dependencies to latest versions
  pyproject.toml
Due: poetry-check

chore(grype): update vulnerability ignores for Python 3.9 development dependencies until support removal
  .grype.yml
Due: none

chore(python-deps): update poetry and related dependencies to latest versions (#528)
  .grype.yml
  pyproject.toml
Due: poetry-check

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

feat: add support for Python 3.14 in workflows and dependencies
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

feat: update dependencies for Python 3.14 support and bump ruff version to 0.14.0
  docs/requirements.txt
  tests/requirements.txt
Due: none

ci: update requirements for Python 3.14 compatibility
  tests/requirements.txt
Due: none

test: add pragma directive to exclude specific code from coverage in functions.py
  src/tm_devices/helpers/functions.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: update docformatter language version to python3.13 with a TODO for future removal
  .pre-commit-config.yaml
Due: none

chore: revert
  .pre-commit-config.yaml
Due: none

chore: Update dependencies.
  docs/requirements.txt
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: poetry-check

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/contributing/add_new_driver.md
  tests/requirements.txt
Due: none

chore: Drop support for Python 3.9 since it is EOL
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .grype.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing/add_new_driver.md
  docs/requirements.txt
  pyproject.toml
  scripts/contributor_setup.py
  tests/requirements.txt
  tests/test_abstract_device_expect_esr.py
Due: pylint, pyright, poetry-check, check-tm-devices-schema-file

chore: add mdformat-beautysh to pre-commit configuration
  .pre-commit-config.yaml
Due: none

Drop support for Python 3.9 (#536)
  .github/workflows/package-build.yml
  .github/workflows/package-release.yml
  .github/workflows/test-code.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
  .grype.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing/add_new_driver.md
  docs/requirements.txt
  pyproject.toml
  scripts/contributor_setup.py
  tests/requirements.txt
  tests/test_abstract_device_expect_esr.py
Due: pylint, pyright, poetry-check, check-tm-devices-schema-file

chore: Enable the 'Remove quotes from type annotation' ruff check
  pyproject.toml
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

chore: Enable the '`X` is deprecated, use `Y` instead' ruff check
  pyproject.toml
Due: poetry-check

chore: Updated the pyproject.toml file to use poetry v2 settings
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

chore: Update packaging and markdown versions in requirements.txt
  docs/requirements.txt
  tests/requirements.txt
Due: none

docs: Update changelog
  CHANGELOG.md
Due: none

feat: Enable programmatic connection to devices that use a different `lan_device_name` via the `DeviceManager`.
  CHANGELOG.md
  docs/configuration.md
  examples/miscellaneous/adding_devices.py
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/device_manager.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/standalone_helpers.py
  src/tm_devices/tm_devices_config_schema.json
  tests/samples/invalid_sample_devices.yaml
  tests/samples/sample_devices.toml
  tests/samples/sample_devices.yaml
  tests/test_config_parser.py
  tests/test_helpers.py
  tests/test_scopes.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

style: fix typo in comment
  src/tm_devices/helpers/constants_and_dataclasses.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$
