Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

2.2.1
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

feat(mso2kb): moved functions from mso2kb to tekscope_2k
  src/tm_devices/drivers/pi/scopes/tekscope_2k/mso2kb.py
  src/tm_devices/drivers/pi/scopes/tekscope_2k/tekscope_2k.py
  tests/sim_devices/devices.yaml
Due: pylint, pyright, pyright-verifytypes

docs: Update the contribution guide to provide details on how to track the status of changes in the GitHub repo using issues
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

added veracode.yml file
  .github/workflows/veracode.yml
Due: none

Created veracode.yml
  .github/workflows/veracode.yml
Due: none

Update veracode.yml
  .github/workflows/veracode.yml
Due: none

Updated building package for veracode scanning
  .github/workflows/veracode.yml
Due: none

Update packages path
  .github/workflows/veracode.yml
Due: none

Full path added for veracode
  .github/workflows/veracode.yml
Due: none

path update
  .github/workflows/veracode.yml
Due: none

dist path update
  .github/workflows/veracode.yml
Due: none

dist path removed
  .github/workflows/veracode.yml
Due: none

listing files
  .github/workflows/veracode.yml
Due: none

listing dist files
  .github/workflows/veracode.yml
Due: none

zip packages
  .github/workflows/veracode.yml
Due: none

Update appname
  .github/workflows/veracode.yml
Due: none

incomplete scan deletion
  .github/workflows/veracode.yml
Due: none

docs: Update the contribution guide to provide details on how to track the status of changes in the GitHub repo using issues (#271)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

test: Moved the extension mixin test into its own, separate file for easier testing in the future
  tests/conftest.py
  tests/test_device_manager.py
  tests/test_extension_mixin.py
Due: pylint, pyright, pyright-verifytypes

fix: Updated the stubgen code to properly detect the location to add the stub code to
  src/tm_devices/helpers/stubgen.py
  tests/samples/golden_stubs/drivers/device.pyi
  tests/test_extension_mixin.py
Due: pylint, pyright, pyright-verifytypes

test: Ignore some code for coverage reporting that should be unreachable code
  src/tm_devices/helpers/stubgen.py
Due: pylint, pyright, pyright-verifytypes

docs: Update the changelog with information on the stubgen fix
  CHANGELOG.md
Due: none

build: Lock the version of griffe to prevent build failures
  pyproject.toml
Due: toml-sort

Fix the stubgen helper function to attach stubs to the correct class in modules with multiple classes (#276)
  CHANGELOG.md
  pyproject.toml
  src/tm_devices/helpers/stubgen.py
  tests/conftest.py
  tests/samples/golden_stubs/drivers/device.pyi
  tests/test_device_manager.py
  tests/test_extension_mixin.py
Due: toml-sort, pylint, pyright, pyright-verifytypes

2.2.2
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

ci: Use nodeenv to install node during tox runs, and install node with nodeenv during initial contributor setup
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/contributor_setup.py
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Use nodeenv to install node during tox runs, and install node with nodeenv during initial contributor setup (#278)
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/contributor_setup.py
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

ci: Begin the process of updating workflows to use reusable workflows from a new source
  .github/workflows/dependency-review.yml
  .github/workflows/enforce-community-standards.yml
Due: none

zip src folder for veracode scanning
  .github/workflows/veracode.yml
Due: none

added scan name
  .github/workflows/veracode.yml
Due: none

updated veracode scan version
  .github/workflows/veracode.yml
Due: none

docs(CHANGELOG.md): Moved the Added section into the Unreleased section
  CHANGELOG.md
Due: none

docs(CHANGELOG.md): removed redundant version entries
  CHANGELOG.md
Due: none

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
