Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

check-tm-devices-schema-file:
  name: check-tm-devices-schema-file
  entry: python
  language: system
  pass_filenames: false
  args:
  - scripts/generate_schema.py

feat:Resolved
  CHANGELOG.md
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

3.7.0
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

chore: Update workflow to properly trigger on dependabot updates.
  .github/workflows/update-python-dependencies.yml
  docs/requirements.txt
  tests/requirements.txt
Due: none

feat(device-manager): add login_command and logout_command for password protected instruments
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/device_manager.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/drivers/device.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/tm_devices_config_schema.json
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

test(config): cover login and logout use and updated tests for new schema
  tests/test_device_manager.py
  tests/test_smu.py
Due: pylint, pyright, check-tm-devices-schema-file

feat(device-manager): Moved fixed visa timeout to apply to login command
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs(configuration): document login_command and logout_command fields
  CHANGELOG.md
Due: none

feat(device-manager): Disabled logging for authenticating commands
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat(config): Removed login_command & logout_command dut properties
  CHANGELOG.md
  src/tm_devices/drivers/device.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat(device-manager): Updated logging for password authentication
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

Remove stale #500 issue references from TSP write-chunking comments
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

Fix: the wrong section
  CHANGELOG.md
Due: none

chore: Update dependencies.
  docs/requirements.txt
  tests/requirements.txt
Due: none

fix(tsp): batch script data in load_script to prevent write overflow
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/sim_devices/smu/smu2601b.yaml
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix(tsp): add missing "Empty" parameter to trigger.model.load_empty
  CHANGELOG.md
  src/tm_devices/commands/gen_9prfe6_smu/trigger.py
  src/tm_devices/commands/gen_auxckp_smu/trigger.py
  src/tm_devices/commands/gen_jtknj_daq/trigger.py
  src/tm_devices/commands/gen_kg1qs_dmm/trigger.py
  src/tm_devices/commands/gen_l149h_dmm/trigger.py
  tests/sim_devices/daq/daq6510.yaml
  tests/sim_devices/dmm/dmm6500.yaml
  tests/sim_devices/dmm/dmm7510.yaml
  tests/sim_devices/smu/smu2460.yaml
  tests/test_devices_legacy_tsp_ieee_cmds.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix(afg): explicitly disable burst state when generating continuous waveforms
  CHANGELOG.md
  src/tm_devices/drivers/afgs/afg.py
  tests/test_generate_waveform.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

feat: update all dataclasses to enforce keyword-only arguments
  src/tm_devices/components/dm_config_parser.py
  src/tm_devices/driver_mixins/abstract_device_functionality/signal_generator_mixin.py
  src/tm_devices/drivers/afgs/afg.py
  src/tm_devices/drivers/awgs/awg.py
  src/tm_devices/drivers/scopes/tekscope/tekscope.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  tests/test_helpers.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(github): Add production dependency group to SBOM scan workflow
  .github/workflows/sbom-scan.yml
Due: none

fix(logging): improve exception handling to preserve original exceptions and enhance logging during interpreter shutdown
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix(logging): improve exception handling to preserve original exceptions and enhance logging during interpreter shutdown (#628)
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
  tests/test_logging.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: Fix AWG sample rate calculation for the clock function along with max supported clock output frequency for the AWG70K.
  CHANGELOG.md
  docs/advanced/signal_generators.md
  src/tm_devices/drivers/awgs/awg.py
  src/tm_devices/drivers/awgs/awg70ka.py
  tests/test_awgs.py
  tests/test_generate_waveform.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: remove extra dash
  CHANGELOG.md
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: poetry-check

chore: clean up function signatures by removing unnecessary comments
  scripts/generate_schema.py
  tests/conftest.py
  tests/test_docs.py
  tests/test_ieee_scpi_cmds.py
  tests/test_logging.py
  tests/test_rest_api_device.py
  tests/test_tm_devices.py
Due: pylint, pyright, check-tm-devices-schema-file

fix(AWG): Fix sample rate calculation/max frequency for AWG clock output (#638)
  CHANGELOG.md
  docs/advanced/signal_generators.md
  src/tm_devices/drivers/awgs/awg.py
  src/tm_devices/drivers/awgs/awg70ka.py
  tests/test_awgs.py
  tests/test_generate_waveform.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$
