Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  check-tm-devices-schema-file: any of: \.py$

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  tests/requirements.txt
Due: poetry-check

chore: Remove unused type checking comment
  docs/griffe_custom_decorator_labels.py
Due: pylint, pyright, check-tm-devices-schema-file

fix: removed absolute tolerance for setting amplitude and offset in AFGSourceChannel because 10 mV is too high. Also, both InternalAFG and AWG do not have a tolerance for these waveform properties.
  src/tm_devices/drivers/afgs/afg.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: Update changelog with afg tolerance change;
  CHANGELOG.md
Due: none

fix: Removed 10 mV tolerance for offset and amplitude in AFGSourceChannel.set_function_properties (#567)
  CHANGELOG.md
  src/tm_devices/drivers/afgs/afg.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

fix: Updated EXECUTE in scope.commands.ch[<channel>].probe.selfcal.state.query()(#8)
  src/tm_devices/commands/gen_22bw6e_dpo/ch.py
  src/tm_devices/commands/gen_7n037o_lpdmso/ch.py
  src/tm_devices/commands/gen_gvvaax_tekscopepc/ch.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

3.6.0
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

fix: Remove ignored CVE from pre-commit config to ensure security compliance
  .pre-commit-config.yaml
Due: none

fix: Updated EXECUTE in scope.commands.ch[<channel>].probe.selfcal.state.query() (#571)
  .pre-commit-config.yaml
  src/tm_devices/commands/gen_22bw6e_dpo/ch.py
  src/tm_devices/commands/gen_7n037o_lpdmso/ch.py
  src/tm_devices/commands/gen_gvvaax_tekscopepc/ch.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

docs: Add probe selfcal.state.query() fix to CHANGELOG
  CHANGELOG.md
Due: none

docs: Add probe selfcal.state.query() fix to CHANGELOG (#572)
  CHANGELOG.md
Due: none

docs: Add fix for scope.commands.ch[<channel>].probe.selfcal.state.query() EXECUTE status
  CHANGELOG.md
Due: none

docs: Add fix for scope.commands.ch[<channel>].probe.selfcal.state.query() EXECUTE status (#573)
  CHANGELOG.md
Due: none

3.6.1
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

docs: Update CHANGELOG formatting to comply with pre-commit checks
  CHANGELOG.md
Due: none

docs: Update CHANGELOG formatting to comply with pre-commit checks (#574)
  CHANGELOG.md
Due: none

chore: Update dependencies.
  .pre-commit-config.yaml
  tests/requirements.txt
Due: none

fix(tsp_control): split load_script() by line when total length exceeds threshold
  pyproject.toml
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, poetry-check, check-tm-devices-schema-file

chore(deps): configure multi-ecosystem updates for Python and pre-commit dependencies
  .github/dependabot.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

chore(deps): configure multi-ecosystem updates for Python and pre-commit dependencies (#583)
  .github/dependabot.yml
  .github/workflows/update-python-and-pre-commit-dependencies.yml
Due: none

chore(deps): remove versioning strategy for pre-commit dependencies since it isn't supported
  .github/dependabot.yml
Due: none

refactor(tsp_control): address PR review comments
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): remove versioning strategy for pre-commit dependencies since it isn't supported (#584)
  .github/dependabot.yml
Due: none

chore(deps): update dependabot configuration to standardize commit message prefixes
  .github/dependabot.yml
Due: none

fix: validate tsp loadscript write spans
  CHANGELOG.md
  src/tm_devices/driver_mixins/device_control/tsp_control.py
  tests/test_smu.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

chore(deps): update dependabot configuration to standardize commit message prefixes (#585)
  .github/dependabot.yml
Due: none

chore(deps): add safety dependency with version pin for future resolution
  pyproject.toml
Due: poetry-check

Fix TSP load_script exceeding max write size without write_termination
  src/tm_devices/driver_mixins/device_control/tsp_control.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file

Fix burst mode not disabled when generating non-burst signals
  src/tm_devices/drivers/afgs/afg.py
Due: pylint, pyright, pyright-verifytypes, check-tm-devices-schema-file
