Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pylint, pyright, pyright-verifytypes

toml-sort:
  name: toml-sort
  entry: toml-sort
  language: system
  pass_filenames: true

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

build: Update all dependencies to be locked to major versions to prevent breaking changes from affecting the package.
  .github/dependabot.yml
  .readthedocs.yml
  CHANGELOG.md
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  tests/requirements.txt
Due: toml-sort

ci: Update dependency updater script to lock requirements for testing and docs for repeatable builds.
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/requirements.txt
  scripts/update_development_dependencies.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

build: Add dependency that has a bad build on PyPI.
  pyproject.toml
Due: toml-sort

docs: Update site URL, badge, and workflow to prep for move to ReadtheDocs.
  .github/workflows/deploy-documentation.yml
  README.md
  mkdocs.yml
  pyproject.toml
Due: toml-sort

docs: Update links.
  README.md
  docs/known_words.txt
  pyproject.toml
Due: toml-sort

fix: Update items found by Pull Request checks.
  .pre-commit-config.yaml
  README.md
  docs/_static/css/theme_overrides.css
  docs/_templates/readthedocs/js/theme.js
  pyproject.toml
Due: toml-sort

fix: Update links in readme for now.
  README.md
Due: none

docs: Update a few docs to render properly and with better linkage to other documentation.
  docs/_static/css/theme_overrides.css
  docs/contributing/add_new_driver.md
  docs/contributing/unit_tests.md
  mkdocs.yml
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

docs: Update displayed text in some docstring cross-references.
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

docs: Convert docstring references to inline code blocks.
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/enums.py
Due: pylint, pyright, pyright-verifytypes

ci: Use specific codecov action version to try to address failure to upload coverage.
  .github/workflows/test-code.yml
Due: none

docs: Update docstring wording.
  docs/requirements.txt
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

ci: Add verbosity to triage Codecov upload issues.
  .github/workflows/test-code.yml
Due: none

docs: Update configuration doc to properly show the syntax for device entries.
  docs/configuration.md
Due: none

fix: Update imports so that dataclasses is only being imported once in the dm_config_parser.py module
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

fix: Update docs to enable building on readthedocs
  .readthedocs.yml
Due: none

Fix ReadtheDocs builds by installing nodejs (#200)
  .readthedocs.yml
  src/tm_devices/components/dm_config_parser.py
Due: pylint, pyright, pyright-verifytypes

docs: Update contribution guide to properly render hints and notes.
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: toml-sort

docs: Updated contribution guide to explain how to build the docs.
  CONTRIBUTING.md
Due: none

docs: Update the link to the source code to point to the main branch when building the "latest" docs on readthedocs.
  docs/generate_api_pages.py
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

docs: Update changelog to indicate the switch from GitHub Pages to ReadtheDocs for documentation hosting.
  CHANGELOG.md
Due: none

Update package to point to ReadtheDocs for official documentation (#201)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/generate_api_pages.py
  docs/macros.py
  pyproject.toml
Due: toml-sort, pylint, pyright, pyright-verifytypes

fix: Update release notes generator script to account for markdown formatting changes.
  scripts/check_unreleased_changelog_items.py
Due: pylint, pyright, pyright-verifytypes

fix: Update release notes generator script to account for markdown formatting changes (#203)
  scripts/check_unreleased_changelog_items.py
Due: pylint, pyright, pyright-verifytypes

1.4.0
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

fix: Update Changelog template to prevent pre-commit failures. when creating new versions with python-semantic-version.
  CHANGELOG.md
  python_semantic_release_templates/CHANGELOG.md.j2
Due: none

docs: Update changelog.
  CHANGELOG.md
Due: none

fix: Update Changelog template to prevent pre-commit failures. when creating new versions with python-semantic-version (#204)
  CHANGELOG.md
  python_semantic_release_templates/CHANGELOG.md.j2
Due: none

docs: Update custom spellcheck plugin git hash.
  docs/requirements.txt
  mkdocs.yml
Due: none

docs: Update contribution guide to remove outdated text indicating VSCode doesn't work for package development, since the latest version of VSCode works just fine
  CONTRIBUTING.md
Due: none

docs: Test workaround for readme.
  README.md
  docs/macros.py
Due: pylint, pyright, pyright-verifytypes

docs: Test workaround for readme.
  README.md
Due: none

docs: Update pre-commit config to properly work with the GFM alert in the readme.
  .pre-commit-config.yaml
  README.md
Due: none

docs: Update the changelog to indicate changes on this branch.
  CHANGELOG.md
Due: none

ci: Update python linters and pre-commit dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

docs: Update requirements for documentation
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
  scripts/update_development_dependencies.py
  tests/requirements.txt
Due: toml-sort, pylint, pyright, pyright-verifytypes

Path conditions:
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: \.py$
