Repository tektronix/tm_devices: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, pyright-verifytypes

pylint:
  name: pylint
  entry: pylint
  language: system
  pass_filenames: true
  args:
  - -sn

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

pyright-verifytypes:
  name: pyright-verifytypes
  entry: pyright
  language: system
  pass_filenames: false
  args:
  - --verifytypes
  - tm_devices
  - --ignoreexternal

ci: Skip a local pre-commit hook when running via pre-commit.ci
  .pre-commit-config.yaml
Due: none

Add a schema file for the configuration file (#435)
  .pre-commit-config.yaml
  docs/basic_usage.md
  docs/configuration.md
  docs/contributing/add_new_device_type.md
  mkdocs.yml
  pyproject.toml
  scripts/generate_schema.py
  src/tm_devices/__init__.py
  src/tm_devices/driver_mixins/device_control/pi_control.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/constants_and_dataclasses.py
  src/tm_devices/helpers/dataclass_mixins.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/logging.py
  src/tm_devices/helpers/standalone_helpers.py
  src/tm_devices/tm_devices_config_schema.json
  tests/samples/invalid_sample_devices.yaml
  tests/samples/simulated_config_no_cleanup.yaml
  tests/test_schema.py
Due: pylint, pyright, pyright-verifytypes

chore: Update dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore: Update pyright configuration settings to avoid triggering type checking failures on the site-packages
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: Remove unnecessary pyright ignore comment
  tests/test_docs.py
Due: pylint, pyright

test: Update logging test to wait until all devices are disconnected
  tests/test_logging.py
Due: pylint, pyright

test: Update tests to enable running higher counts of tests in a single test session
  tests/conftest.py
  tests/sim_devices/scope/mso5.yaml
  tests/test_afgs.py
  tests/test_all_device_drivers.py
  tests/test_alternative_connection_addresses.py
  tests/test_extension_mixin.py
  tests/test_ieee_scpi_cmds.py
  tests/test_logging.py
  tests/test_margin_testers.py
  tests/test_rest_api_device.py
  tests/test_scopes.py
  tests/test_smu.py
Due: pylint, pyright

chore: Add pytest-repeat as a project test dependency
  pyproject.toml
Due: none

chore: Export testing dependencies
  docs/requirements.txt
  tests/requirements.txt
Due: none

chore: Update test dependencies (#443)
  docs/requirements.txt
  pyproject.toml
  tests/conftest.py
  tests/requirements.txt
  tests/sim_devices/scope/mso5.yaml
  tests/test_afgs.py
  tests/test_all_device_drivers.py
  tests/test_alternative_connection_addresses.py
  tests/test_docs.py
  tests/test_extension_mixin.py
  tests/test_ieee_scpi_cmds.py
  tests/test_logging.py
  tests/test_margin_testers.py
  tests/test_rest_api_device.py
  tests/test_scopes.py
  tests/test_smu.py
Due: pylint, pyright

feat: add PyVISA-compatible args to query_binary method.
  src/tm_devices/driver_mixins/device_control/pi_control.py
  tests/test_docs.py
Due: pylint, pyright, pyright-verifytypes

fix: reverted the code in master.
  src/tm_devices/driver_mixins/device_control/pi_control.py
Due: pylint, pyright, pyright-verifytypes

chore: remove unnecessary comment from site directory fixture
  tests/test_docs.py
Due: pylint, pyright

refactor: updated the changelog.md file
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md added backticks.
  CHANGELOG.md
Due: none

feat: add PyVISA-compatible args to query_binary method. (#445)
  CHANGELOG.md
  src/tm_devices/driver_mixins/device_control/pi_control.py
Due: pylint, pyright, pyright-verifytypes

feat: enable graceful exits for DeviceManager and improve logging control
  CHANGELOG.md
  src/tm_devices/device_manager.py
  src/tm_devices/driver_mixins/device_control/_abstract_device_control.py
  src/tm_devices/drivers/device.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/functions.py
  tests/test_device_manager.py
  tests/validate_device_manager_delete.py
Due: pylint, pyright, pyright-verifytypes

refactor: Move logging disable context manager into the logging.py helper module
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/functions.py
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

ci: Only build on python 3.13.3, not on 3.13.4
  .github/workflows/test-code.yml
Due: none

ci: Update todo comment with details and link to github issue
  .github/workflows/test-code.yml
Due: none

feat: enable graceful exits for DeviceManager and improve logging control (#450)
  .github/workflows/test-code.yml
  CHANGELOG.md
  src/tm_devices/device_manager.py
  src/tm_devices/driver_mixins/device_control/_abstract_device_control.py
  src/tm_devices/drivers/device.py
  src/tm_devices/helpers/__init__.py
  src/tm_devices/helpers/logging.py
  tests/test_device_manager.py
  tests/validate_device_manager_delete.py
Due: pylint, pyright, pyright-verifytypes

ci: Change the schema download link to work around issues with the schemastore domain
  scripts/generate_schema.py
Due: pylint, pyright

ci: Change the schema download link to work around issues with the schemastore domain (#451)
  scripts/generate_schema.py
Due: pylint, pyright

fix: improve DeviceManager.open() method to re-open existing devices correctly
  .github/workflows/test-code.yml
  CHANGELOG.md
  src/tm_devices/device_manager.py
Due: pylint, pyright, pyright-verifytypes

test: Update tests to cover the new open/close behavior
  src/tm_devices/device_manager.py
  tests/validate_device_manager_delete.py
Due: pylint, pyright, pyright-verifytypes

Fix the behavior of the `DeviceManager`'s open/close methods (#455)
  .github/workflows/test-code.yml
  CHANGELOG.md
  src/tm_devices/device_manager.py
  tests/validate_device_manager_delete.py
Due: pylint, pyright, pyright-verifytypes

feat: Add the ability to disable logging under a level to the disable logging context manager
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

docs: Add examples to the docstring for usage and updated the changelog
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

feat: Add the ability to disable logging under a level to the disable logging context manager (#458)
  CHANGELOG.md
  src/tm_devices/helpers/logging.py
Due: pylint, pyright, pyright-verifytypes

chore: Update dependencies.
  docs/requirements.txt
  tests/requirements.txt
Due: none

test: Make sure coverage always uses the src/ path
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  pyright-verifytypes: any of: ^src/ and \.py$
